<style type="text/css">
	
</style>
<div class="modal-header">
	<h3>添加属性值
	<i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
	</h3>
</div>
<div class="modal-body modalBody">
	<ul class="titleUl">
		<li class="clearfix">
			<h1>所属属性组：</h1>
			<p>缺陷严重等级</p>
		</li>
		<li class="clearfix">
			<h1>属性值：</h1>
			<input type="text" class="inputText floatleft" style=" width: 400px;margin-right: 7px;" placeholder="请填写属性值名称">
		</li>
	</ul>
</div>
<div class="modal-footer">
	<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
	<input type="button" name="" value="返回" class="btndefault btndefault_gray" ng-click="cancel()">
</div>