<style type="text/css">
</style>
<div class="modal-header">
    <h3>添加数据池</h3>
</div>
<div class="modal-body modalBody">
    <ul class="titleUl">          	
       <li class="clearfix">  
       		<h1>名称：</h1>
            <input type="text" class="inputText floatleft" style=" width: 370px;">                 	
        </li>            
        <li class="clearfix">  
       		<h1>备注：</h1>
            <textarea name="" rows="" cols="" class="projectTextarea" style=" width: 370px;"></textarea>              	
        </li>    
    </ul>
</div>
<div class="modal-footer">  
	<div class="floatleft defaultcheckBox"><input class="floatleft" type="checkbox" name=""><em>是否连续添加</em></div>
    <input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
    <input type="button" name="" value="返回" class="btndefault btndefault_gray" ng-click="ok()">
</div>
