<div class="modal-content addNewScene">
	<div class="modal-header">
		<h3>新增场景</h3>
	</div>
	<div class="modal-body">
		<ul class="titleUl">
			<li class="clearfix">
				<div class="popLeft">
					场景名称：
				</div>
				<div class="popRight">
					<input type="text" name="" id="" value="" />
				</div>
			</li>
			<li class="clearfix">
				<div class="popLeft">
					附件：
				</div>
				<div class="popRight">
					<input type="file" name="" id="" value="上传" class="fileInput" />
					<span class="fileUpload btn_gray">上传</span>
				</div>
			</li>
			<li class="clearfix">
				<div class="popLeft">
					需求描述：
				</div>
				<div class="popRight">
					<textarea name="" rows="" cols=""></textarea>
				</div>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<div class="floatleft">
			<input type="checkbox" name="" id="ss" value="" />
			<label for="ss">是否连续添加</label>
		</div>
		<button class="btn_blue" ng-click="ok()">确认</button>
		<button class="btn_gray" ng-click="cancel()">返回</button>
	</div>
	
</div>