<div class="modal-content addNewScene">
	<div class="modal-header">
		<h3>新增场景
        <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
        </h3>
	</div>
	<div class="modal-body">
		<ul class="titleUl">
			<li>				
				<h1>场景名称：</h1>								
				<input type="text" name="" id="" value="" class="inputText"  required="required"/>		
				<span class="error">错误提示错误提示错误提示</span>
			</li>
			<li class="clearfix">				
				<h1>附件：</h1>				
				<div class="floatleft" style="width: 480px;">
					<div class="describeList fileuploadBox">
                    <div class="fileselectBox">
                        <div class="floatleft btn_add btn_addfile"><span class="cicleicon"><i class="iconfont icon-createtask"></i></span>选择文件
                            <input class="inputfile" type="file" value="选择文件">
                        </div>
                        <span class="floatright">文件最大不超过30M</span>
                    </div>
                    <ul class="fileList">
                        <li>
                            <span class="fileIcon fileIcon-doc"></span>
                            <div class="fileName">
                                测试需求文档.doc
                                <i class="iconfont icon-close"></i>
                            </div>
                            <div class="fileFooter">
                                <div class="fileSize">
                                    <div class="progress progressDefault" ng-hide="fileuploadSize==-1;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{fileuploadSize+'%'}}">
                                            {{fileuploadSize+'%'}}
                                        </div>
                                    </div>
                                    <div class="size" ng-show="fileuploadSize==-1;">180kb
                                        <div class="filemoreFunc dropdownDefault floatright treefunicon" dropdown>
                                            <i class="iconfont icon-gengduo floatright tooltipdefaulticon" dropdown-toggle></i>
                                            <ul class="dropdown-menu dropdown-menu-right transition" dropdown-menu role="menu">
                                                <span class="triangle"></span>
                                                <li><i class="iconfont icon-addpeople_fill"></i><span>下载</span></li>
                                                <li><i class="iconfont icon-addpeople_fill"></i><span>删除</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
				</div>
			</li>
			<li>
				<h1>需求描述：</h1>							
				<textarea name="" rows="" cols="" class="projectTextarea floatleft" ></textarea>	
				<span class="error">错误提示错误提示错误提示</span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<div class="floatleft defaultcheckBox"><input class="floatleft" type="checkbox" name=""><em>是否连续添加</em></div>
		<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
        <input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
	</div>
</div>
