<div class="modal-content addNewScene">
	<div class="modal-header">
		<h3>新增场景</h3>
	</div>
	<div class="modal-body">
		<ul class="titleUl">
			<li class="clearfix">				
				<h1>场景名称：</h1>								
				<input type="text" name="" id="" value="" class="inputText"  required="required"/>		
				<span class="error">错误提示错误提示错误提示</span>
			</li>
			<li class="clearfix">				
				<h1>附件：</h1>				
				<div class="popRight">
					<input type="file" name="" id="" value="上传" class="fileInput" />
					<span class="fileUpload btn_gray">上传</span>
				</div>
			</li>
			<li class="clearfix">
				<h1>需求描述：</h1>							
				<textarea name="" rows="" cols="" class="projectTextarea floatleft" ></textarea>	
				<span class="error">错误提示错误提示错误提示</span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<div class="floatleft">
			<input type="checkbox" name="" id="ss" value="" />
			<label for="ss">是否连续添加</label>
		</div>
		<button class="btn_blue" ng-click="ok()">确认</button>
		<button class="btn_gray" ng-click="cancel()">返回</button>
	</div>
	
</div>