<style type="text/css">
.table-fullborder tr td:hover{
	cursor: pointer;
	background: #bbdefb;
}
.table-fullborder tr td.active{
	background: #bbdefb;
}
</style>
<div class="modal-header">
	<h3>添加需求负责人
    <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
    </h3>
</div>
<div class="modal-body modalBody">
	<table border="" cellspacing="" cellpadding="" class="table-fullborder">
		<tr>
			<td class="{{projectNavNow==1?'active':''}}" ng-click="projectNavNow=1">
				humqqqqqqqqqqq（胡明琪）
			</td>			
		</tr>
		<tr>
			<td class="{{projectNavNow==2?'active':''}}" ng-click="projectNavNow=2">
				humq11111111111（胡明琪）
			</td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
	<input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>