<style type="text/css">
</style>
<div class="modal-header">
    <h3>添加角色组
    <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
    </h3>
</div>
<div class="modal-body modalBody">
    <ul class="titleUl">          	
       <li class="clearfix">  
       		<h1>角色组名称：</h1>
            <input type="text" class="inputText floatleft" style=" width: 400px;margin-right: 7px;">                 	
        </li>                
    </ul>
</div>
<div class="modal-footer">   
    <input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
    <input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>
