<style type="text/css">
	.searchPanelBig {
		width: 100%;
		position: relative;
		border: 1px solid #dddddd;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		margin-top: 10px;
	}
	
	.searchPanelBig img {
		position: absolute;
		top: 14px;
		left: 14px;
		z-index: 100;
	}
	
	.searchPanelBig .searchBox {
		width: 100%;
		border: none;
		height: 44px;
		line-height: 44px;
		padding: 0px 100px 0px 40px;
		outline: none;
	}
	
	.searchPanelBig .btn_search {
		position: absolute;
		padding: 0px 20px;
		right: 0px;
		top: 0px;
		height: 44px;
		text-align: center;
		background: #3462fe;
		color: #fff;
		font-size: 14px;
		border: 1px solid #1f4ce5;
	}
	
	.searchResultPanel {
		margin-bottom: 30px;
	}
	.searchResultPanel>ul>li{
		height: 44px;
		line-height: 44px;	
		margin-left: 10px;
		margin-top: 5px;
	}
	.searchResultLi {
		line-height: 44px;
		font-size: 14px;
		color: #212121;
	}
	
	.searchResultLi span {
		margin-right: 5px;
	}
	
	.searchResultLi h1 {
		color: #6e6e6e;
	}
	.selectNoborder {
		width: 200px;
	    border: none;
	    margin-left: -4px;	   	   
	    display: inline-block;
	}
	.dropdownBox1 .tableDropdownToggle{
		border:none ;		
	}
	.roleName{
		height: 34px;
		line-height: 34px;
		display:inline-block;
		width: 160px;
	    border: none;
	    margin-left: -4px;	
	    overflow: hidden;   
	    text-overflow:ellipsis ;
	    white-space:nowrap;
	    display: inline-block;
	}
</style>
<div class="modal-header">
	<h3>添加成员
	<i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
	</h3>
</div>
<div class="modal-body modalBody" ng-controller="modalCtrl" style="height:350px">
	<div class="searchPanelTitle clearfix">
		<div class="floatright">
			<span class="line"></span>
			<a ng-click="open('ProjectPeople')" class="f_blue cursor_p">导入已有项目成员</a>
		</div>
	</div>
	<div class="searchPanelBig">
		<img src="/images/projectNav_search.png">
		<input class="searchBox ng-pristine ng-valid" ng-model="searchUser.email" name="" placeholder="请输入您想搜索用户">
		<input class="btn_blue floatright btn_search" ng-disabled="isUserSearch" ng-click="searchUserFun()" type="button" value="搜索">
	</div>
	<div class="searchResultPanel">
		<ul style="margin-top:20px">			
			<li >
    			<div class="floatleft searchResultLi">
    				<span class="roleName">222222222（胡名气） </span>   				
    				<div class="selectNoborder">
    					<div class="dropdownBox dropdownBox1" dropdown="">
							<div dropdown-toggle="" class="tableDropdownToggle" aria-haspopup="true" aria-expanded="false">
								<span class="roleName">测试工程师，项目经理，开发工程师</span>
								<img class="floatright" src="/images/dropdownBox_icon.png">
								<div class="clear"></div>
							</div>
							<ul class="dropdown-menu tableDropdownMenu" dropdown-menu="" role="menu">
								<li >
									<a class="ng-binding">
										<input class="checkbox"  ng-click="$event.stopPropagation();" type="checkbox">项目经理
									</a>
								</li>
								<li >
									<a class="ng-binding">
										<input class="checkbox"  ng-click="$event.stopPropagation();" type="checkbox">开发工程师
									</a>
								</li>
								<li >
									<a class="ng-binding">
										<input class="checkbox"  ng-click="$event.stopPropagation();" type="checkbox">测试工程师
									</a>
								</li>
							</ul>
						</div>
    				</div>	               
    			</div>
    			<input ng-click="saveUserApplyProject(1)" ng-disabled="isSaveUserApplyProject" class="floatright btndefault btndefault_blue " type="button" value="添加">
    			<div class="clear"></div>
    		</li>
    		<li >
    			<div class="floatleft searchResultLi">
    				<span class="roleName">22222222222222222222222222（胡名气） </span>   				
    				<div class="selectNoborder">
    					<div class="dropdownBox dropdownBox1" dropdown="">
							<div dropdown-toggle="" class="tableDropdownToggle" aria-haspopup="true" aria-expanded="false">
								<span class="roleName">测试工程师，项目经理，开发工程师</span>
								<img class="floatright" src="/images/dropdownBox_icon.png">
								<div class="clear"></div>
							</div>
							<ul class="dropdown-menu tableDropdownMenu" dropdown-menu="" role="menu">
								<li >
									<a class="ng-binding">
										<input class="checkbox"  ng-click="$event.stopPropagation();" type="checkbox">项目经理
									</a>
								</li>
								<li >
									<a class="ng-binding">
										<input class="checkbox"  ng-click="$event.stopPropagation();" type="checkbox">开发工程师
									</a>
								</li>
								<li >
									<a class="ng-binding">
										<input class="checkbox"  ng-click="$event.stopPropagation();" type="checkbox">测试工程师
									</a>
								</li>
							</ul>
						</div>
    				</div>	               
    			</div>
    			<input ng-click="saveUserApplyProject(1)" ng-disabled="isSaveUserApplyProject" class="floatright btndefault btndefault_blue " type="button" value="添加">
    			<div class="clear"></div>
    		</li>
    		
		</ul>

	</div>
</div>
<div class="modal-footer">
	<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
	<input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>