<style type="text/css">
	.titleUl li {
		line-height: 34px;
		margin-bottom: 0;
	}
	
	.titleUl li span {
		cursor: pointer;
		margin-right: 30px;
	}
	
	.titleUl li .radio {
		float: left;
		margin-top: 10px;
		margin-right: 5px;
	}
	
	.titleUl li .inputText {
		width: 400px;
	}
</style>
<div class="modal-content" ng-controller="modalCtrl">
	<div class="modal-header">
		<h3>添加用户</h3>
	</div>
	<div class="modal-body">
		<ul class="titleUl">
			<li>
				<h1>关联组织：</h1> 公司名称 > 部门名称
				<i class="iconfont icon-editor" style="color:#008bff;font-size: 14px;margin-left: 10px;cursor: pointer;" ng-click="open('tree')"></i>
			</li>
			<li class="clearfix">
				<h1>账户类型：</h1>
				<span class="floatleft">
					<input type="radio" name="n1" id="n1" value="" checked="checked" class="radio"/>
					<label for="n1">项目用户</label>
				</span>
				<span class="floatleft">
					<input type="radio" name="n1" id="n2" value="" class="radio"/>
					<label for="n2">管理员</label>
				</span>
			</li>
			<li class="margint_10">
				<h1>账号：</h1>
				<input type="text" name="" id="" value="" class="inputText" />
			</li>
			<li class="margint_10">
				<h1>密码：</h1>
				<input type="password" name="" id="" value="" class="inputText" />
			</li>
			<li class="margint_10">
				<h1>真实姓名：</h1>
				<input type="text" name="" id="" value="" class="inputText" />
			</li>
			<li class="margint_10">
				<h1>电子邮箱：</h1>
				<input type="email" name="" id="" value="" class="inputText" />
			</li>
			<li class="clearfix margint_10">
				<h1>是否启用：</h1>
				<span class="floatleft">
					<input type="radio" name="q1" id="q1" value="" checked="checked" class="radio"/>
					<label for="q1">启用</label>
				</span>
				<span class="floatleft">
					<input type="radio" name="q1" id="q2" value="" class="radio"/>
					<label for="q2">不启用</label>
				</span>
			</li>			
		</ul>
	</div>
	<div class="modal-footer">
		<div class="floatleft defaultcheckBox"><input class="floatleft" type="checkbox" name=""><em>是否连续添加</em></div>
		<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
		<input type="button" name="" value="返回" class="btndefault btndefault_gray" ng-click="ok()">
	</div>
</div>
</div>