<style type="text/css">
.modal-dialog.modal-lg {
    width: 1100px;
}

.modal-lg .modal-body {
    height: 600px;
    max-height: 600px;
}

.notice span {
    display: block;
    padding: 15px 10px;
    margin: 0px;
    font-size: 14px;
}

.notice span input {
    float: left;
    margin-right: 10px;
}

.notice .log {
    width: 100%;
    height: 400px;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #ccc;
}

.notice .log p {
    font-size: 14px;
    color: #6c7786;
    line-height: 24px;
}

.result {
    widows: 100%;
    height: 279px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.result span {
    font-size: 14px;
    margin-right: 10px;
}
</style>
<div class="modal-header">
    <h3>预约执行
    <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
    </h3>
</div>
<div class="modal-body modalBody createFuncPoints runningDevice" ng-init="createFuncPoints=1" ng-controller="modalCtrl">
    <div class="flexRow">
        <div class="floatleft flex modalRightContent modalRightContent1">
            <!-- 基本信息 -->
            <div>
                <ul class="titleUl">
                    <li>
                        <h1>执行名称：</h1>
                        <div class="floatleft inputTextBox">
                            <input type="text" class="inputText">
                            <span class="defaultText">2018-08-29-</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="floatleft">
                        <h1>执行类型：</h1>
                        <select class="selectNormal floatleft" ng-init="selected=pModel[0]" ng-model="selected" ng-options="x for x in pModel">
                        </select>
                        <div class="dropdownDefault dropdownAdd floatleft" dropdown>
                            <div dropdown-toggle class="dropdowntoggle">
                                <span class="dropdowntoggletext">                   
                                    <i class="iconfont icon-add"></i>自定义
                                </span>
                            </div>
                            <ul class="dropdown-menu transition" dropdown-menu role="menu">
                                <input ng-click="$event.stopPropagation()" ng-keyup="addModel($event)" type="text" name="" class="inputText" placeholder="输入执行类型按回车添加" ng-model="modelItem">
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="floatright">
                        <h1>信息知会人：</h1>
                        <div class="inputSelect floatleft" ng-click="open('createTaskTestset','lg')">
                            <input type="text" class="inputText" disabled="disabled" placeholder="测试集1;测试集2">
                            <span class="inputSelectBtn">
                                <i class="iconfont icon-trees"></i>
                            </span>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
                <!-- 执行设置 -->
            </div>
            <div ng-show="createFuncPoints==1" class="runningDeviceDateBox">
                <div class="clearfix">
                    <div class="modalDataPanel floatleft" style="width: 30%">
                        <div class="title">
                            <div class="floatleft leftTitle">
                                <span class="chatIconButton">
                                    <i class="iconfont icon-guanlihoutai23"></i>上移                                   
                                </span>
                                <span class="chatIconButton">
                                    <i class="iconfont icon-guanlihoutai23-copy"></i>下移                                 
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="tablePanel tablePanel1">
                            <table class="table-fullborder">
                                <tr class="text_nowrap">
                                    <th>
                                        <input type="checkbox" name="">
                                    </th>
                                    <th>测试集名称</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="">
                                    </td>
                                    <td>公司名称公司名称公司名称公司</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modalDataPanel floatright" style="width: 68%">
                        <div class="title">
                            <div class="floatleft leftTitle">
                                执行器列表：
                                <span class="chatIconButton">
                                    <i class="iconfont icon-gengxin-copy"></i>
                                    刷新执行器
                                </span>
                                <a class="chatIconButton" ui-sref="device" target="_blank">
                                    <i class="iconfont icon-clock_fill"></i>
                                    查看执行器预约情况
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="tablePanel tablePanel1" style="max-height: 180px;">
                            <table class="table-fullborder">
                                <tr class="text_nowrap">
                                    <th>
                                        <input type="checkbox" name="">
                                    </th>
                                    <th>IP地址</th>
                                    <th>用户</th>
                                    <th>执行器类型</th>
                                    <th>执行器状态</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="">
                                    </td>
                                    <td>255.255.255.255</td>
                                    <td>公司名称公司名称公司名称公司</td>
                                    <td>类型</td>
                                    <td>已占用</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modalDataPanel" style="width: 100%;">
                    <div class="title" style="text-align: center;">
                        <input type="button" class="btndefault btndefault_blue" name="" value="新增">
                    </div>
                    <div class="tablePanel tablePanel1">
                        <table class="table-fullborder">
                            <tr>
                                <th>
                                    <input type="checkbox" name="">
                                </th>
                                <th>测试集</th>
                                <th>执行器</th>
                                <th>运行模式</th>
                                <th>预约时间</th>                              
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>
                                    测试集a
                                </td>
                                <td>
                                    192.168.0.140:3
                                </td>
                                <td>
                                    <select class="selectNoborder">
                                        <option>可顺延</option>
                                        <option>不可顺延</option>
                                    </select>
                                </td>
                                <td>
                                    <!--<div class="defaultTimeSelectBox datetimePicker floatleft">
                                        <input type="text" class="timeselectInput floatleft" datepicker-popup="{{format}}" ng-model="dat1" is-open="popup1.opened" datepicker-options="inlineOptions" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                                        <span class="timeselectTitle">选择日期：</span>
                                        <div class="clear"></div>
                                    </div>-->
                                    <input type="text" readonly="readonly" ng-click="open('appointmentTime','sm')" style="border-bottom: 1px solid #DDDDDD;"/>
                                </td>                                
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 运行情况 -->
            <div ng-show="createFuncPoints==2" class="runningDeviceDateBox">
                <div class="leftTable floatleft" style="width: 70%;">
                    <ul class="titleUl titleUl1">
                        <li>
                            <h1>开始时间：</h1>
                            <h2>2017-8-29 17:00:00</h2>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <h1>运行时间：</h1>
                            <h2>35:00</h2>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <h1>剩余时间：</h1>
                            <h2>35:00</h2>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <ul class="titleUl titleUl1">
                        <li>
                            <h1>总用例数：</h1>
                            <h2>20</h2>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <h1>成功用例数：</h1>
                            <h2>10</h2>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <h1>失败用例数：</h1>
                            <h2>0</h2>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <ul class="titleUl titleUl1">
                        <li>
                            <h1>运行组件：</h1>
                            <h2>20</h2>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <h1>成功用例数：</h1>
                            <h2>10</h2>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <h1>失败用例数：</h1>
                            <h2>0</h2>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <div class="result">
                        <p>
                            <span>测试集：测试集a</span>
                            <span>成功用例：0</span>
                            <span>失败用例：0</span>
                        </p>
                    </div>
                </div>
                <div class="notice floatright" style="width: 28%;">
                    <span>
                        <input type="checkbox" name="" id="" value="" />
                        保留最新执行消息
                    </span>
                    <div class="log">
                        <p>
                            加载用例开始
                        </p>
                        <p>
                            真正复制用例数据成功
                        </p>
                        <p>
                            测试集：测试集a准备数据成功
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer modalFooterCenter" style="text-align: center;">
    <button class="btndefault btndefault_blue" ng-click="ok()">确定</button>
    <button class="btndefault btndefault_gray" ng-click="cancel()">取消</button>
</div>