<style type="text/css">
	.modal-dialog.modal-sm {
		width: 800px;
	}
	
	.modal-sm .modal-body {
		height: 450px;
		max-height: 600px;
	}
	
	.inputText {
		width: 200px;
		border: none;
		border-bottom: 1px solid #eee;
	}
	
	.dropdowncheckbox {
		float: left;
		margin: 8px 10px !important;
	}
	
	.dropdownList {
		height: 30px;
		line-height: 30px;
	}
	
	.dropdowntoggle {
		margin-left: 20px;
		margin-top: 5px;
	}
	
	.form-control {
		background: #FFFFFF !important;
	}
	
	.input-group-addon {
		background: #FFFFFF !important;
	}
	
	.separator {
		display: inline-block;
		width: 20px;
		height: 2px;
		background: #333333;
		float: left;
		margin: 15px 10px;
	}
</style>
<div class="modal-header">
	<h3>预约类型
	 <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
	</h3>
</div>
<div class="modal-body modalBody">

	<ul class="titleUl">
		<li class="clearfix">
			<h1>预约类型：</h1>
			<select class="selectNormal" ng-model="selectModel" ng-init="selectModel=1">
				<option value="1">单次执行</option>
				<option value="2">周期执行</option>
			</select>
		</li>
		<li class="clearfix" ng-show="selectModel==1">
			<div class="form-group floatleft">
				<h1>预约时间：</h1>
				<div ng-model='timepickerTest' ng-time class="input-group date form_datetime col-md-5" data-date="2017-09-16T05:25:07Z" data-date-format="yyyy-MM-dd - HH:ii p" data-link-field="dtp_input1">
					<input class="form-control" size="16" type="text" value="" readonly>
					<!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				</div>
				<input type="hidden" id="dtp_input1" value="" /><br/>
			</div>
		</li>
		<li class="clearfix" ng-show="selectModel==2">
			<div class="form-group">
				<h1>重复周期：</h1>
				<div ng-model='timepickerTest' ng-time class="input-group date form_date floatleft " style="width: 180px;" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
					<input class="form-control" size="16" type="text" value="" readonly data-ng-model="start_time">
					<!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
				<input type="hidden" id="dtp_input2" value="" />
				<span class="separator"></span>
				<div ng-model='timepickerTest' ng-time class="input-group date form_date floatleft " style="width: 180px;" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
					<input class="form-control" size="16" type="text" value="" readonly data-ng-model="end_time" >
					<!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
				<input type="hidden" id="dtp_input3" value="" />
			</div>
		</li>
		<li class="clearfix" ng-show="selectModel==2">
			<h1>重复方式：</h1>
			<select class="selectNormal floatleft" ng-model="selectModel2" ng-init="selectModel2=1">
				<option value="1">每天执行</option>
				<option value="2">每周执行</option>
			</select>
			<div class="dropdownBox floatleft dateBoxClear" dropdown ng-show="selectModel2==2">
				<div dropdown-toggle class="dropdowntoggle">
					<span class="dropdowntoggletext">选择时间</span>
					<i class="iconfont icon-unfold"></i>
				</div>
				<ul class="dropdown-menu dropdown-menu1 tableDropdownMenu" dropdown-menu role="menu">
					<li class="dropdownList" ng-click="$event.stopPropagation()">
						<input class="dropdowncheckbox" type="checkbox" name="" id="" value="" /> 周一
					</li>
					<li class="dropdownList" ng-click="$event.stopPropagation()">
						<input class="dropdowncheckbox" type="checkbox" name="" id="" value="" /> 周二
					</li>
					<li class="dropdownList" ng-click="$event.stopPropagation()">
						<input class="dropdowncheckbox" type="checkbox" name="" id="" value="" /> 周三
					</li>
					<li class="dropdownList" ng-click="$event.stopPropagation()">
						<input class="dropdowncheckbox" type="checkbox" name="" id="" value="" /> 周四
					</li>
					<li class="dropdownList" ng-click="$event.stopPropagation()">
						<input class="dropdowncheckbox" type="checkbox" name="" id="" value="" /> 周五
					</li>
					<li class="dropdownList" ng-click="$event.stopPropagation()">
						<input class="dropdowncheckbox" type="checkbox" name="" id="" value="" /> 周六
					</li>
					<li class="dropdownList" ng-click="$event.stopPropagation()">
						<input class="dropdowncheckbox" type="checkbox" name="" id="" value="" /> 周日
					</li>
				</ul>
			</div>
		</li>
		<li class="clearfix" ng-show="selectModel==2">
			<div class="form-group floatleft">
				<h1>预约时间：</h1>
				<div ng-model='timepickerTest' ng-time class="input-group date form_time" style="width: 180px;" data-date="" data-date-format="hh:ii" data-link-field="dtp_input4" data-link-format="hh:ii">
					<input class="form-control" size="16" type="text" value="" readonly>
					<!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
				</div>
				<input type="hidden" id="dtp_input4" value="" />
			</div>
		</li>
	</ul>
</div>
<div class="modal-footer">
	<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
	<input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>