<style type="text/css">
	.modules{
		margin-left: 20px;
		margin-top: 10px;
	}
	.modules li{
		font-size: 14px;
		line-height: 30px;
		color: #6e6e6e;		
	}
</style>
<div class="modal-header">
	<h3>组件管理</h3>
</div>
<div class="modal-body modalBody" ng-controller="modalCtrl">		
	<input type="button" name="" value="组件管理" class="btndefault" ng-click="open('selectModule')">	
	<ul class="modules">
		<li>组件1</li>
		<li>组件2</li>
		<li>组件3</li>
	</ul>
</div>
<div class="modal-footer">
	<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
	<input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>