<style type="text/css">
</style>
<div class="modal-header">
    <h3>新增功能点</h3>
</div>
<div class="modal-body modalBody createFuncPoints" ng-init="createFuncPoints=1">
    <div class="flexRow">
        <div class="floatleft">
            <ul class="modalLeftTab">
                <li ng-class="{'current':createFuncPoints==1}" ng-click="createFuncPoints=1">
                    <i class="iconfont icon-barrage_fill"></i>
                    <span>基本信息</span>
                </li>
                <li ng-class="{'current':createFuncPoints==2}" ng-click="createFuncPoints=2">
                    <i class="iconfont icon-guanlianbangding1"></i>
                    <span>关联组件</span>
                </li>
                <li ng-class="{'current':createFuncPoints==3}" ng-click="createFuncPoints=3">
                    <i class="iconfont icon-activity_fill"></i>
                    <span>输入数据</span>
                </li>
            </ul>
        </div>
        <div class="floatleft flex modalRightContent">
            <!-- 基本信息 -->
            <ul class="titleUl" ng-show="createFuncPoints==1">
                <li>
                    <h1>功能点名称：</h1>
                    <input type="text" class="inputText">
                </li>
                <div class="clear"></div>
                <li>
                    <h1>详细描述：</h1>
                    <textarea class="projectTextarea"></textarea>
                </li>
                <li class="funcBox">
                    <button class="btndefault btn_blue" ng-click="ok()">创建</button>
                </li>
            </ul>
            <!-- 关联组件 -->
            <div class="" ng-show="createFuncPoints==2">
                <ul class="titleUl">
                    <li>
                        <h1 class="hauto">关联组件</h1>
                        <select class="selectNormal">
                            <option>组件11111</option>
                            <option>组件22222</option>
                        </select>
                    </li>
                    <div class="modalSelectPanel">
                        <div class="title">定义数据项</div>
                        <ul class="multselectUl">
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">公司名称</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <li class="funcBox funcBox1">
                        <button class="btndefault btn_blue" ng-click="ok()">保存</button>
                    </li>
                </ul>
            </div>
            <!-- 输入数据 -->
            <div class ng-show="createFuncPoints==3">
                <ul class="titleUl">
                    <li>
                        <h1 class="hauto">批量添加</h1>
                        <input type="text" name="" class="inputText" placeholder="以';'隔开">
                        <button class="btndefault btn_blue">添加</button>
                    </li>
                    <div class="modalDataPanel">
                        <div class="title">
                            <div class="floatleft leftTitle">
                                数据列表：
                                <span class="chatIconButton">
                                    <i class="iconfont icon-addition_fill"></i>
                                    新增数据
                                </span>
                                <span class="chatIconButton">
                                    <i class="iconfont icon-delete_fill"></i>
                                    删除数据
                                </span>
                            </div>
                            <div class="searchBox floatright">                               
                                <input type="text" name="" class="inputSearch" placeholder="输入搜索条件回车搜索">
                                <i class="iconfont icon-search"></i>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="tablePanel">
                            <table class="table-fullborder">
                                <tr>
                                    <th><input type="checkbox" name=""></th>
                                    <th width="80">序号</th>
                                    <th>公司名称</th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name=""></td>
                                    <td>1</td>
                                    <td>公司名称公司名称公司名称公司名称公司名称公司名称公司名称公司名称公司名称公司名称公司名称公司名称公司名称公司名称</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name=""></td>
                                    <td>1</td>
                                    <td>公司名称</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name=""></td>
                                    <td>1</td>
                                    <td>公司名称</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name=""></td>
                                    <td>1</td>
                                    <td>公司名称</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name=""></td>
                                    <td>1</td>
                                    <td>公司名称</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name=""></td>
                                    <td>1</td>
                                    <td>公司名称</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <li class="funcBox funcBox1">
                        <button class="btndefault btn_blue" ng-click="ok()">保存</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>