<style type="text/css">
	.module {
		display: inline-block;
		margin: 5px 10px 0px 5px;
		height: 24px;
		line-height: 24px;
		position: relative;
		border-radius: 3px;
		font-size: 13px;
		color: #666;
		background: #eee;
		float: left;
	}
	
	.module .moduleItems {
		width: 100%;
		padding: 0px 15px 0px 15px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
	}
	
	.module .icon-delete_fill {
		position: absolute;
		right: -10px;
		top: -10px;
		display: none;
	}
	
	.module:hover .icon-delete_fill {
		display: block;
	}
	
	.cicleicon {
		display: inline-block;
		width: 22px;
		height: 22px;
		line-height: 22px;
		text-align: center;
		background: #008bff;
		color: #fff;
		border-radius: 11px;
		margin-right: 5px;
		float: left;
		margin-top: 5px;
		cursor: pointer;
	}
	
	.dropdownList {
		height: 30px;
		line-height: 30px;
	}
	
	.dropdowncheckbox {
		float: left;
		margin: 8px 10px !important;
	}
	
	.ruleWidth {
		display: inline-block;
		width: 400px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
<div class="modal-header">
	<h3>新增场景
    <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
    </h3>
</div>
<div class="modal-body modalBody createFuncPoints">

	<div class=" modalRightContent">
		<!-- 基本信息 -->
		<ul class="titleUl">
			<li>
				<h1>场景名称：</h1>
				<input type="text" name="" id="" value="" class="inputText" />
			</li>
			<li>
				<h1>选择规则：</h1>
				<div class="dropdownBox floatleft dateBoxClear" dropdown="" style="margin-right: 10px;">
					<div dropdown-toggle="" class="dropdowntoggle" aria-haspopup="true" aria-expanded="false">
						<input type="text" name="" id="" value="" class="inputText" readonly="readonly" />
						<i class="iconfont icon-unfold" style="position:absolute;right:10px;top:7px"></i>
					</div>
					<ul class="dropdown-menu dropdown-menu1 tableDropdownMenu" dropdown-menu="" role="menu">
						<li class="dropdownList" ng-click="$event.stopPropagation()">
							<input class="dropdowncheckbox" type="checkbox" name="" id="" value="">
							<span class="ruleWidth">规则1</span>
						</li>
						<li class="dropdownList" ng-click="$event.stopPropagation()">
							<input class="dropdowncheckbox" type="checkbox" name="" id="" value="">
							<span class="ruleWidth">规则1</span>
						</li>
						<li class="dropdownList" ng-click="$event.stopPropagation()">
							<input class="dropdowncheckbox" type="checkbox" name="" id="" value="">
							<span class="ruleWidth">规则1</span>
						</li>
						<li class="dropdownList" ng-click="$event.stopPropagation()">
							<input class="dropdowncheckbox" type="checkbox" name="" id="" value="">
							<span class="ruleWidth">规则1</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="funcBox" ng-show="showModule==1">
				<button class="btndefault btn_blue" ng-click="ok()" ui-sref="index.demand2.ruleScene">创建</button>
			</li>
		</ul>

	</div>
</div>
<div class="modal-footer">
	<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
	<input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>