<style type="text/css">

</style>
<div class="modal-header">
	<h3>需求描述
    <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
    </h3>
</div>
<div class="modal-body modalBody">
	<div type="text/html" style="margin:auto;height:250px;max-height: 250px;overflow-y:scroll ;" ng-model="vm.params.content" name="content" meta-umeditor meta-umeditor-placeholder="说明 " required="">
	</div>
</div>
<div class="modal-footer">
	<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
	<input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>