<style type="text/css">

</style>
<div class="modal-content">
	<div class="modal-header">
		<h3>关联规则</h3>
	</div>
	<div class="modal-body" style="height: 300px;">
		<div class="tablePanel1 margint_10" style="height: 240px">
			<table class="table-fullborder">
				<tr>
					<th>规则名称</th>
					<th>关联需求</th>
				</tr>
				<tr>
					<td>
						规则11111
					</td>
					<td>
						<a href="">3</a>
					</td>
				</tr>
				<tr>
					<td>
						规则222222
					</td>
					<td>
						<a href="">6</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
		<input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="ok()">
	</div>
</div>
</div>