<style type="text/css">
</style>
<div class="modal-header">
    <h3>导入已有功能点
    <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
    </h3>
</div>
<div class="modal-body modalBody modalDataPanel" ng-controller="modalCtrl">
    <ul class="titleUl">
        <li>
            <h1 class="hauto">选择组件</h1>
            <select class="selectNormal">
                <option>组件11111</option>
                <option>组件22222</option>
            </select>
        </li>
        <div class="modalSelectPanel">
            <div class="title">关联数据项</div>
            <ul class="multselectUl">
                <li class="checkBox">
                    <input type="checkbox" name="">
                    <i class="input-helper"></i>
                    <span title="" class="defaultcheckText">公司名称</span>
                </li>
                <li class="checkBox">
                    <input type="checkbox" name="">
                    <i class="input-helper"></i>
                    <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                </li>
                <li class="checkBox">
                    <input type="checkbox" name="">
                    <i class="input-helper"></i>
                    <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                </li>
                <li class="checkBox">
                    <input type="checkbox" name="">
                    <i class="input-helper"></i>
                    <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </ul>
</div>
<div class="modal-footer">
    <div class="floatleft defaultcheckBox">
        <input class="floatleft" type="checkbox" name=""><em>是否连续添加</em></div>
    <input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
    <input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
</div>