<div class="modal-content addNewScene">
	<div class="modal-header">
		<h3>模板创建项目
    <i class="floatright iconfont icon-close modalCloseIcon" ng-click="cancel()"></i>
    </h3>
	</div>
	<div class="modal-body">
       <ul class="titleUl">
           <li>
           	<h1>选择模板项目：</h1>
           	<select name="" class="selectNormal" style="width: 420px;">
           		<option value="">模板项目1</option>
           		<option value="">模板项目2</option>
           		<option value="">模板项目3</option>
           	</select>
           </li>		
       </ul>
	</div>
	<div class="modal-footer">
		<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
    <input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="cancel()">
	</div>
</div>
