<div class="modal-content newDemand">
	<div class="modal-header">
		<h3>提需求</h3>
	</div>
	<div class="modal-body">
		<ul class="titleUl">
			<li class="clearfix">
				<div class="popLeft">
					需求名称：
				</div>
				<div class="popRight">
					<input type="text" name="" id="" value="" />
				</div>
			</li>
			<li class="clearfix">
				<div class="popLeft">
					需求状态：
				</div>
				<div class="popRight">
					<select name="">
						<option value="">状态1</option>
						<option value="">状态2</option>
						<option value="">状态3</option>
						<option value="">状态4</option>
					</select>
				</div>
			</li>
			<li class="clearfix">
				<div class="popLeft">
					优先级：
				</div>
				<div class="popRight">
					<select name="">
						<option value="">高</option>
						<option value="">中</option>
						<option value="">低</option>
						<option value="">非常低</option>
					</select>
				</div>
			</li>
			<li class="clearfix">
				<div class="popLeft">
					需求来源：
				</div>
				<div class="popRight">
					<select name="">
						<option value="">来源1</option>
						<option value="">状态2</option>
						<option value="">状态3</option>
						<option value="">状态4</option>
					</select>
				</div>
			</li>
			<li class="clearfix">
				<div class="popLeft">
					需求描述：
				</div>
				<div class="popRight">
					<textarea name="" rows="" cols=""></textarea>
				</div>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<div class="floatleft">
			<input type="checkbox" name="" id="ss" value="" />
			<label for="ss">是否连续添加</label>
		</div>
		<button class="btn_blue" ng-click="ok()">确认</button>
		<button class="btn_gray" ng-click="cancel()">返回</button>
	</div>	
</div>