<div class="modal-content newDemand">
	<div class="modal-header">
		<h3>提需求</h3>
	</div>
	<div class="modal-body">
		<ul class="titleUl">			
			<li>
				<h1>需求名称：</h1>
				<input type="text" name="" id="" value="" class="inputText" required="required" />
			</li>
			<div class="clear"></div>
			<li class="floatleft">
				<h1>需求状态：</h1>
				<select class="selectNormal">
					<option>状态1</option>
					<option>状态2</option>
					<option>状态3</option>
				</select>
			</li>			
			<li class="floatleft">
				<h1>优先级：</h1>
				<select class="selectNormal">
					<option>高</option>
					<option>中</option>
					<option>低</option>
				</select>
			</li>			
			<div class="clear"></div>
			<li>
				<h1>需求来源：</h1>
				<select name="" class="selectNormal">
					<option value="">来源1</option>
					<option value="">状态2</option>
					<option value="">状态3</option>
					<option value="">状态4</option>
				</select>

			</li>			
			<li>
				<h1>需求描述：</h1>
				<textarea name="" rows="" cols="" class="projectTextarea floatleft"></textarea>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<div class="floatleft defaultcheckBox"><input class="floatleft" type="checkbox" name=""><em>是否连续添加</em></div>
		<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
		<input type="button" name="" value="返回" class="btndefault btndefault_gray" ng-click="ok()">
	</div>	
	</div>
</div>