<style type="text/css">
</style>
<div class="modal-content">
    <div class="modal-header">
        <h3>选择用例</h3>
    </div>
    <div class="modal-body" style="height: 300px;">
        <div class="treeBody">
            <div>
                <script type="text/ng-template" id="nodes_renderer.html">
                    <span ui-tree-handle></span>
                    <div class="tree-node tree-node-content" ng-class="{current:node.id==1.1}">
                        <a class="treeToggle" ng-if="node.nodes && node.nodes.length > 0||node.cases && node.cases.length > 0" data-nodrag ng-click="toggle(this)"><i class="iconfont" ng-class="collapsed?'icon-unfold-copy':'icon-unfold'"></i></a>
                        <input type="checkbox" name="" class="treeCheckBox">
                        <i class="iconfont icon-wenjianjia1"></i>
                        <span ng-show="!this.isEdit" class="treeText">
                            {{node.title | limitTo:10}}{{node.title.length>10?'...':''}}
                            </span>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                        </li>
                    </ol>
                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                        <li ng-repeat="case in node.cases" class="tree-node-content">
                            <i class="iconfont icon-icon-yongliweiyunhang icon-case"></i>
                            <input type="checkbox" name="" class="treeCheckBox">
                            <span ng-show="!this.isEdit" class="treeText">
                                {{case.title | limitTo:10}}{{case.title.length>10?'...':''}}
                                </span>
                        </li>
                    </ol>
                </script>
                <div>
                    <div ui-tree="treeOptions" id="tree-root" drag-delay="200">
                        <ol ui-tree-nodes ng-model="data">
                            <li ng-repeat="node in treedata1" ui-tree-node ng-include="'nodes_renderer.html'">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-controller="modalCtrl">
        <div class="floatleft defaultcheckBox">
            <input class="floatleft" type="checkbox" name=""><em>设为默认</em></div>
        <input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok();open('runningDevice','lg')">
        <input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="ok()">
    </div>
</div>
</div>