<style type="text/css">
.modal-content {
    width: 1000px;
}

.modal-body {
    padding: 0px;
}


</style>
<div class="modal-content addNewScene">
    <div class="modal-header">
        <h3>TestCenter 运行器</h3>
    </div>
    <div class="modal-body">
        <div class="runningDeviceBox">
            <div class="leftPanel">
                <div class="leftTopPanel">
                    <ul class="titleUl">
                        <li>
                            <h1>运行名称：</h1>
                            <input type="text" name="" id="" value="" class="inputText" required="required" />
                        </li>
                        <li>
                            <h1>测试集名称：</h1>
                            <input type="text" name="" id="" value="" class="inputText" required="required" />
                        </li>
                        <li class="">
                            <h1>关联轮次：</h1>
                            <select class="selectNormal">
                                <option>状态1</option>
                                <option>状态2</option>
                                <option>状态3</option>
                            </select>
                        </li>
                        <li>
                            <div class="defaultcheckBox">
                                <input class="floatleft" type="checkbox" name=""><em>组件运行失败，关联数据池数据恢复</em></div>
                        </li>
                        <li style="width: 100%">
                            <h1>需求描述：</h1>
                            <input type="text" name="" id="" value="" class="inputText" required="required" style="width: 82.5%;" />
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="leftBottomPanel" ng-init="isAttribute=1">
                    <div class="tab">
                        <span ng-class="{current:isAttribute==1}" ng-click="isAttribute=1">总运行情况</span>
                        <span ng-class="{current:isAttribute==2}" ng-click="isAttribute=2">测试器情况</span>
                    </div>
                    <div class="leftBottomPanelChild" ng-show="isAttribute==1">
                        <div class="leftBottomPanelChildFunc">
                            <span class="chartIconButton borderbtndefault">
                                <!-- <i class="iconfont icon-addpeople_fill"></i> -->刷新活动机器
                            </span>
                            <select class="selectNormal">
                                <option>状态1</option>
                                <option>状态2</option>
                                <option>状态3</option>
                            </select>
                            <span class="chartIconButton borderbtndefault">
                                <!-- <i class="iconfont icon-addpeople_fill"></i> -->加载
                            </span>
                        </div>
                        <table class="table-fullborder floatleft" style="width: 30%">
                            <tr>
                                <th>
                                    <input type="checkbox" name="">
                                </th>
                                <th>可执行的</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>192.168.1.1</td>
                            </tr>
                        </table>
                        <table class="table-fullborder floatright" style="width: 68%">
                            <tr>
                                <th>
                                    <input type="checkbox" name="">
                                </th>
                                <th>IP地址</th>
                                <th>用户</th>
                                <th>执行器类型</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>192.168.1.1</td>
                                <td>spasvo</td>
                                <td>2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="rightPanel"></div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" name="" value="开始" class="btndefault btndefault_blue" ng-click="ok()">
        <input type="button" name="" value="暂停" class="btndefault btndefault_gray" ng-click="ok()">
        <input type="button" name="" value="停止" class="btndefault btndefault_gray" ng-click="ok()">
        <input type="button" name="" value="取消" class="btndefault btndefault_gray" ng-click="ok()">
    </div>
</div>