<style type="text/css">
.modal-content {
    width: 1000px;
}

.modal-body {
    padding: 0px;
}
</style>
<div class="modal-content addNewScene">
    <div class="modal-header">
        <h3>TestCenter 运行器</h3>
    </div>
    <div class="modal-body">
        <div class="runningDeviceBox">
            <div class="leftPanel">
                <div class="leftTopPanel">
                    <ul class="titleUl">
                        <li>
                            <h1>运行名称：</h1>
                            <input type="text" name="" id="" value="" class="inputText" required="required" />
                        </li>
                        <li>
                            <h1>测试集名称：</h1>
                            <input type="text" name="" id="" value="" class="inputText" required="required" />
                        </li>
                        <div class="clear"></div>
                        <li class="">
                            <h1>关联轮次：</h1>
                            <select class="selectNormal">
                                <option>状态1</option>
                                <option>状态2</option>
                                <option>状态3</option>
                            </select>
                        </li>
                        <li>
                            <div class="defaultcheckBox"><input class="floatleft" type="checkbox" name=""><em>是否连续添加</em></div>
                        </li>
                        <li>
                            <h1>需求描述：</h1>
                            <input type="text" name="" id="" value="" class="inputText" required="required" />
                        </li>
                    </ul>
                </div>
                <div class="leftBottomPanel">
                    <div class="tab"></div>
                </div>
            </div>
            <div class="rightPanel"></div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
        <input type="button" name="" value="返回" class="btndefault btndefault_gray" ng-click="ok()">
    </div>
</div>