<div class="modal-content addNewScene">
	<div class="modal-header">
		<h3>选择需要显示的列</h3>
	</div>
	<div class="modal-body">
        <div class="modalSelectBox">
            <div class="checkOperation">
                <i class="operationCheckBox iconfont"></i>
                <span>表格1</span>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<input type="button" name="" value="确认" class="btndefault btndefault_blue" ng-click="ok()">
		<input type="button" name="" value="返回" class="btndefault btndefault_gray" ng-click="ok()">
	</div>
</div>
