<style type="text/css">
</style>
<div class="projectBodyBox" style="overflow-y:visible">
    <div class="projectBodyTitle">
        组件管理
        <div class="floatright dropdownBox" dropdown>
            <input dropdown-toggle type="button" class="btn_gray dropdownToggle" value="更多操作">
            <ul class="dropdown-menu" dropdown-menu role="menu">
                <li><a ng-click="open()">导出用例</a></li>
                <li><a>导入用例</a></li>
                <li><a ng-click="open()">导入导出配置</a></li>
                <li><a ng-click="open()">用例统计</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="useCaseTree" style="">
            <div class="title">组件组</div>
            <div class="treeBody">
                <div>
                    <script type="text/ng-template" id="nodes_renderer.html">
                        <div class="tree-node tree-node-content">
                            <a class="treeToggle" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><img ng-src="{{collapsed?'images/treeBody_close.png':'images/treeBody_open.png'}}"></a>
                            <span ng-show="!this.isEdit" class="treeText">
                                {{node.title | limitTo:10}}{{node.title.length>5?'...':''}}
                            </span>
                            <div class="pull-right dropdownBox moreFuc treeIcon" dropdown>
                                <span dropdown-toggle type="button" class="glyphicon glyphicon-cog"></span>
                                <ul class="dropdown-menu" dropdown-menu role="menu">
                                    <li><a ng-click="open()">上移</a></li>
                                    <li><a>下移</a></li>
                                    <li><a ng-click="open()">新建子模块</a></li>
                                    <li><a ng-click="open()">删除</a></li>
                                </ul>
                            </div>
                        </div>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                            </li>
                        </ol>
                    </script>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ui-tree="treeOptions" id="tree-root" drag-delay="200">
                                <ol ui-tree-nodes ng-model="data">
                                    <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="useCaseList" style="">
            <div class="useCaseListTitle">组一</div>
            <div class="userCaseListFunction">
                <input class="floatleft fbtn_blue" type="button" value="新增组件" ng-click="open()">
                <input class="floatleft fbtn_blue" type="button" value="批量下载脚本" ng-click="open()">
                <input class="floatleft fbtn_red" type="button" value="批量删除组件">
                <div class="clear"></div>
            </div>
            <div class="userCaseListTable">
                <table class="table-fullborder">
                    <tr>
                        <th>
                            <input type="checkbox" name="">
                        </th>
                        <th>组件名</th>
                        <th>组件版本</th>
                        <th>运行环境</th>
                        <th>脚本名</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="">
                        </td>
                        <td ng-click="fadeIn();$event.stopPropagation();">
                            <span class="text_ellipsis10 f_blue cursor_p">test08</span>
                        </td>
                        <td>版本一</td>
                        <td>window10</td>
                        <td>脚本1</td>
                        <td><a class="f_blue">下载脚本</a><a class="f_blue">编辑</a><a class="f_red">删除</a></td>
                    </tr>
                </table>
                <div class="floatright">
                    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm embed-responsive-item" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" max-size="maxSize" rotate="false">
                    </pagination>
                </div>
            </div>
            <!-- <div ng-controller="editorCtrl" style="width:100%;margin-top:100px;">
                <p>wangEditor 集成到 angular 的示例</p>
                <div ng-model="text" contenteditable="true"></div>
            </div> -->
        </div>
    </div>
</div>