<style type="text/css">
	.chatIconButton1 {
		margin-top: 0px !important;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	
	.textarea {
		width: 480px;
		height: 300px;
		font-size: 14px;
		color: #6e6e6e;
		font-family: "微软雅黑";		
		line-height: 20px;
		padding: 10px;
		overflow-y: hidden;
		border: 1px solid #c3c4c9;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		resize: none;
	}
</style>
<div class="projectDetailBox" ng-controller="componentDetailCtrl">
	<div class="detailTitle">
		<span class="floatleft bugId">233</span>
		<span class="bugName text_ellipsis">组件名称</span>
	</div>
	<div class="bugDetailBox" ng-init="isAttribute=1">
		<div class="tab">
			<span ng-class="{current:isAttribute==1}" ng-click="isAttribute=1">数据维护</span>
			<span ng-class="{current:isAttribute==2}" ng-click="isAttribute=2">脚本</span>
		</div>
		<div class="detailAttribute" ng-show="isAttribute==2">
			<ul class="attributeList attributeList1">
				<li>
					<span class="attributeLeft">
                        <span>脚</span>
					<span>本</span>
					<span>内</span>
					<span>容</span>
					</span>
					<textarea class="textarea" style="height: 300px;"></textarea>
				</li>
			</ul>
			<div class="btnBox">
				<input type="button" name="" class="btndefault btndefault_blue" value="保存">
			</div>
		</div>
		<div class="detailAttribute" ng-show="isAttribute==1">
			<div class="openTableListToptitle">
				<span class="chatIconButton chatIconButton1 floatleft" ng-click="open('addParameter','lg')">
                    添加参数
                </span>
				<span class="chatIconButton chatIconButton1 floatleft" ng-click="open('showDetail')">
                   文本显示
                </span>
				<div class="clear"></div>
			</div>
			<div class="content">
				<div style="background: #fff;" ui-grid="gridOptionsComp1" ui-grid-resize-columns ui-grid-edit class="gridTableBox"></div>
			</div>
		</div>

	</div>
</div>