<style type="text/css">
</style>
<div class="projectBodyBox" ng-controller="componentCtrl">
    <div class="projectBodyTitle">
        组件管理
        <div class="floatright btn_add" ng-click="open('createCompenent','lg')">
            <span class="cicleicon"><i class="iconfont icon-add"></i></span> 新增组件
        </div>
    </div>
    <div class="projectBodyContent" style="top: 56px;">
        <div class="useCaseList" style="bottom: 0px; overflow: auto;" ng-style="useCaseListStyle">
            <div class="useCaseListfunction">
                <span class="floatleft selectNum">已选中2项：</span>
                 <span class="chatIconButton" ng-click="open('updateScript','lg')">
                    <i class="iconfont icon-bianji"></i>编辑
                </span> 
                <span class="chatIconButton">
                    <i class="iconfont icon-download"></i>下载脚本
                </span>                
                <span class="chatIconButton">
                    <i class="iconfont icon-empty_fill"></i>删除
                </span>
                 <span class="chatIconButton" ng-click="open('importComponent')">
                    <i class="iconfont icon-import"></i>导入组件
                </span>
                <div class="floatright searchBox">
                    <input type="text" name="" class="inputSearch" placeholder="输入关键词按回车搜索">
                    <i class="iconfont icon-search"></i>
                </div>
                <div class="clear"></div>
            </div>
            <div class="userCaseListTable">
                <div ui-grid="gridOptionsComponent"  ui-grid-autoResize ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-edit class="gridTableBox margint-20"></div>
            </div>
        </div>
    </div>
</div>