/*顶部导航起*/

.topbar {
    width: 100%;
    height: 50px;
    background: #262d3f;
    box-shadow: 0px 0px 5px #000;
}

.topbar .leftMenu .topbarLink {
    font-size: 14px;
    line-height: 50px;
    position: relative;
    float: left;
    height: 50px;
    padding: 0 24px;
    vertical-align: bottom;
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.topbar .leftMenu .topbarLink:hover {
    background: rgba(0, 0, 0, 0.4);
}

.topbar .leftMenu .current {
    background: rgba(0, 0, 0, 0.8);
}

.topbar .rightMenu .topbarLink {
    font-size: 14px;
    line-height: 50px;
    padding: 0 24px;
    position: relative;
    float: left;
    height: 50px;
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.topbar .rightMenu .dropdownDefault {
    overflow: hidden;
}

.topbar .rightMenu .dropdownDefault .dropdown-menu {
    left: 50%;
    margin-left: -84px;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    /* Firefox 4 */
    -webkit-transition: all 0.4s;
    /* Safari 和 Chrome */
    -o-transition: all 0.4s;
    top: 58px;
}

.topbar .rightMenu .dropdownDefault .dropdown-menu .triangle {
    display: block;
    top: -8px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.topbar .rightMenu .dropdownDefault:hover {
    overflow: inherit;
}

.topbar .rightMenu .dropdownDefault:hover .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 50px;
}


/*顶部导航终*/


/*左侧导航起始*/


/*左侧导航栏开关*/

.leftNavOpen {
    height: 73px;
    width: 30px;
    background: rgb(52, 156, 247);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 1px 3px 0 rgba(33, 150, 243, .9)!important;
    /* border-bottom: 6px solid transparent;
    border-left: none;
    border-right: 25px solid rgb(52, 156, 247);
    border-top: 6px solid transparent; */
    position: absolute;
    margin-top: -37px;
    top: 50%;
    left: 220px;
    z-index: 105;
    cursor: pointer;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    /* Firefox 4 */
    -webkit-transition: all 0.4s;
    /* Safari 和 Chrome */
    -o-transition: all 0.4s;
}

.leftNavOpen .text {
    color: #fff;
    word-break: break-all;
    text-align: center;
    margin-top: 32px;
    margin-left: 10px;
    display: block;
    width: 12px;
}

.leftNavOpen .iconfont {
    position: absolute;
    left: 7px;
    top: 4px;
    font-size: 18px;
    color: #fff;
    transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    /* IE 9 */
    -moz-transform: rotateZ(180deg);
    /* Firefox */
    -webkit-transform: rotateZ(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotateZ(180deg);
    /* Opera */
}

.leftNavOpen:hover {
    box-shadow: 0px 0px 3px #edeff7;
}

.leftNavClose {
    border-radius: 0px 5px 5px 0px;
    left: 0px;
}

.leftNavClose .text {
    margin-left: 8px;
}

.leftNavClose .iconfont {
    left: 5px;
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    /* IE 9 */
    -moz-transform: rotateZ(0deg);
    /* Firefox */
    -webkit-transform: rotateZ(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateZ(0deg);
    /* Opera */
}

.leftNavClose:hover {
    box-shadow: 0px 0px 3px #edeff7;
}

.projectNav {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}


/*搜索块*/

.projectNav .searchPanel {
    border: 1px solid transparent;
    border-width: 6px 15px;
}

.projectNav .searchBox {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px 0px 40px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
}

.projectNav .searchBox:focus {
    border-color: #008bff;
}

.searchPanel {
    position: relative;
}

.searchPanel img {
    position: absolute;
    top: 12px;
    left: 10px;
}


/*显示模式切换*/

.navTabPanel {
    border-bottom: 1px solid #d9d9d9;
}

.navTabPanel ul>li {
    width: 50%;
    text-align: center;
    float: left;
    padding: 15px 0px;
}

.navTabPanel ul>li .iconfont {
    font-size: 18px;
}

.navPanel {
    position: absolute;
    top: 56px;
    bottom: 0px;
    width: 100%;
    border-right: 1px solid transparent;
}


/*列表切换块*/

.leftNavList {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.projectNavList .title {
    height: 40px;
    font-size: 14px;
    padding: 0px 10px 0px 15px;
    color: #6e6e6e;
    line-height: 40px;
    border-top: 1px solid #d9d9d9;
}

.projectNavList .title .treefunicon {
    margin-left: 5px;
    line-height: 38px;
}

.projectNavList .title .iconfont {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.projectNavList>ul>li {
    line-height: 40px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
}

.projectNavList>ul>li .filterIcon {
    font-size: 24px;
    margin: 0px 10px 0px 15px;
    float: left;
}

.projectNavList>ul>li.active {
    background: #bbdefb;
}

.projectNavList>ul>li.active:hover {
    background: #bbdefb;
}

.projectNavList>ul>li:hover {
    background: #f5f5f5;
}

.projectNavList>ul>li img {
    float: left;
    margin: 0px 15px;
    width: 38px;
}

.projectNavList>ul>li .filtername {
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.projectNavList>ul>li .filternum {
    float: right;
    line-height: 39px;
    margin-right: 10px;
    display: none;
}

.projectNavList>ul>li .filternum:hover {
    color: #008bff;
}

.projectNavList>ul>li:hover .filternum {
    display: block;
}


/*usecaseTree*/

.useCaseTree {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.useCaseTree .title {
    height: 46px;
    font-size: 14px;
    padding: 0px 10px 0px 15px;
    color: #6e6e6e;
    line-height: 46px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

.useCaseTree .title .treefunicon {
    margin-left: 5px;
}

.useCaseTree .title .chatIconButton .iconfont {
    color: #000;
    font-weight: 700;
}

.useCaseTree .title .iconfont {
    font-size: 18px;
    cursor: pointer;
}

.useCaseTree .title .iconfont:hover {
    color: #008bff;
}

.treeBody {
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 45px;
    bottom: 0px;
}

.treeBody .treeToggle {
    cursor: pointer;
    display: inline-block;
    float: left;
}

.treeBody .tree-node-content .treeCheckBox {
    float: left;
    margin-top: 8px;
    margin-left: 5px;
}

.treeBody .treeToggle .iconfont {
    font-size: 14px;
}

.treeBody .treeToggle img {
    width: 10px;
    vertical-align: baseline;
}

.treeBody .treeInput {
    border: 1px solid #c3c4c9;
    height: 32px;
    padding: 0px 3px;
}

.treeBody .treeIcon {
    line-height: 28px;
    cursor: pointer;
}

.treeBody .treeIcon {
    display: none;
}

.treeBody .angular-ui-tree-nodes {
    padding-left: 10px;
}

.treeBody .tree-node-content {
    width: 150px;
    padding: 0px 10px 0px 0px;
    cursor: pointer;
    font-size: 12px;
    color: #3b3b3b;
    margin: 0px 0px;
    line-height: 28px;
    font-family: "微软雅黑";
    font-weight: normal;
}

.treeBody .tree-node-content .icon-wenjianjia1 {
    color: #ff9800;
    font-size: 13px;
    margin-left: 5px;
}

.treeBody .tree-node-content .icon-case {
    color: #008bff;
    font-size: 13px;
    margin-left: 5px;
}

.treeBody .tree-node-content .treeText {
    margin-left: 5px;
    padding-right: 10px;
}

.treeBody .tree-node-content:hover {
    color: #008bff
}

.treeBody .current {
    color: #008bff;
    font-size: 14px;
}


/*没有切换的左栏树结构*/

.useCaseTree1 {
    top: 52px;
}

.useCaseTree1 .title {
    border-top: none;
}


/*自定义筛选块*/


/*选择过滤器*/

.customFilterTitle select {
    height: 38px;
    border: 0px;
    outline: none;
    width: 100%;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
}

.customFilterTitle {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 0px 15px 10px;
    font-size: 14px;
    color: #6e6e6e;
}

.customFilterContent {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.customFilterBtn {
    padding: 0px 10px;
}

.customFilterSave {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #008bff;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.customFilterSave:hover {
    color: #fff;
}

.customFilterContent1 {
    top: 90px;
}

.customFilterContent .panel {
    box-shadow: none;
    border-radius: 0px;
    border: 0px;
}

.customFilterContent .panel-default>.panel-heading {
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    background: rgba(240, 240, 240, .4);
    border-radius: 0px;
    padding: 0px;
    border: 0px;
}

.customFilterContent .panel-default>.panel-heading .accordion-toggle {
    font-size: 14px;
    color: #6e6e6e;
    padding: 10px 10px;
    display: inline-block;
    width: 100%;
}

.customFilterContent .panel-default>.panel-heading .panel-title .selectAll {
    color: #bbb;
}

.customFilterContent .panel-default>.panel-collapse .panel-body {
    padding: 10px 15px;
    border: 0px;
}

.customFilterContent .customFilterSelect>li {
    width: 50%;
    float: left;
    margin: 6px 0px;
    font-size: 14px;
}

.customFilterContent .customFilterTime>li {
    margin-bottom: 10px;
}


/*左侧导航终*/


/*主内容块起始*/

.projectBodyBox {
    overflow-y: auto;
    height: 100%;
    background: #e4e6f1;
    position: relative;
}


/*一级标题*/

.projectBodyTitle {
    padding: 0px 15px 0px 22px;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    color: #212121;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    position: relative;
    z-index: 102;
}

.projectBodyTitle .btn_add {
    margin-top: 10px;
}


/*一级标题导航*/

.personalNav {
    background: #fff;
}

.personalNav ul {
    float: right;
    padding: 0 32px;
}

.personalNav ul li {
    float: left;
    margin: 0px 15px;
}

.personalNav ul li a {
    font-size: 14px;
    color: #6e6e6e;
    text-align: center;
    display: block;
    line-height: 44px;
    margin-right: 15px;
}

.personalNav ul li a:hover {
    color: #008BFF;
    border-bottom: 2px solid #008BFF;
}

.personalNav ul li.current a {
    color: #008BFF;
    border-bottom: 2px solid #008BFF;
}

.pageTab .pageTabItem {
    font-size: 14px;
    color: #a1a1a1;
    border-bottom: 1px solid;
    margin: 0px 8px;
    color: #008bff;
    cursor: pointer;
}

.pageTab .pageTabItemGray {
    color: #ddd;
}

.projectBodyTitle .btndefault {
    margin-top: 7px;
    margin-left: 5px;
}

.projectBodyTitle .rightBox .chatIconButton {
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.5)
}

.projectBodyContent {
    position: absolute;
    overflow: auto;
    top: 56px;
    left: 10px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    /* Firefox 4 */
    -webkit-transition: all 0.4s;
    /* Safari 和 Chrome */
    -o-transition: all 0.4s;
    border-right: 0px solid #e4e6f1;
}

.projectBodyContent1 {
    background: none;
}

.projectBodyContent2 {
    left: 0px;
    top: 46px;
}

.projectBodyContent2 .userCaseListTable {
    position: absolute;
    top: 44px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

.usecaseListPanel {
    position: relative;
    height: 100%;
}


/*筛选功能块*/

.useCaseListfunc {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #212121;
    padding: 0px 15px;
    border-bottom: 1px solid #d9d9d9;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.useCaseListfunc .searchBox {
    margin-top: 6px;
}

.useCaseListfunc .personalNav {
    border-bottom: 0px;
}

.useCaseListfunc .personalNav ul li a {
    line-height: 41px;
}

.useCaseListfunc .btn_add {
    margin-top: 9px;
}

.useCaseListfunc .dropdownDefault {
    margin-right: 15px;
}

.useCaseListfunc .dropdowntoggle .dropdowntoggletext {
    font-size: 12px;
    color: #888;
}


/*筛选结果块*/

.useCaseListfilter {
    width: 100%;
    padding: 0px;
    border-bottom: 10px solid #e4e6f1;
}

.useCaseListfilterli {
    width: 100%;
    padding: 6px 15px;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.useCaseListfilterli .title {
    font-size: 14px;
}

.useCaseListfilterli .title1 {
    color: #333;
    font-size: 13px;
}

.filterspan {
    display: inline-block;
    margin: 0px 10px 0px 5px;
    height: 24px;
    line-height: 24px;
    position: relative;
    border-radius: 3px;
    font-size: 13px;
    color: #666;
}

.filterspan:hover {
    background: #eee;
}

.filterspan .icon-huiyuan {
    position: absolute;
    font-size: 15px;
    top: 5px;
    left: 5px;
    line-height: 1em;
    background: none;
}

.filterspan .filterspanText {
    width: 100%;
    padding: 0px 10px 0px 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.filterspan:hover .icon-delete_fill {
    display: block;
}

.filterspan .icon-delete_fill {
    position: absolute;
    top: -9px;
    right: -6px;
    color: #888;
    cursor: pointer;
    display: none;
}

.useCaseListfilterli:last-child {
    border-bottom: none;
}


/*批量处理功能块*/

.useCaseListfunction {
    padding: 0px 15px;
    height: 44px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    line-height: 42px;
}

.useCaseListfunction .searchBox {
    margin-top: 6px;
}

.useCaseListfunction .chatIconButton {
    margin: 0px 5px;
    color: #666;
    cursor: pointer;
    font-size: 13px;
}

.useCaseListfunction .chatIconButton:hover {
    color: #008bff;
}

.useCaseListfunction .chatIconButton .iconfont {
    color: #008bff;
    font-size: 13px;
    margin-right: 5px;
}

.useCaseListfunction .selectNum {
    margin-right: 10px;
}


/*表格块*/

.userCaseListTable {
    padding: 15px;
}


/*主内容块终*/


/*右侧详情页起始*/

.projectDetailBox {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #f2f2f2;
    box-shadow: 0 23px 23px 5px rgba(0, 0, 0, .2), 0 6px 6px rgba(0, 0, 0, .15);
    border-top: none;
    background: #fff;
}

.projectDetailBox .detailTitle {
    font-size: 16px;
    color: #545454;
    padding: 15px 22px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.projectDetailBox .detailTitle .bugName {
    font-size: 16px;
    color: #333;
    width: 250px;
    margin-top: 5px;
}

.projectDetailBox .detailTitle .bugId {
    font-size: 14px;
    height: 24px;
    background: #ffa929;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    margin-top: 4px;
    padding: 0px 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    margin-right: 10px;
}

.projectDetailBox .bugDetailBox {
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: 63px;
    overflow-y: auto;
}

.projectDetailBox .bugDetailBox .tab {
    position: absolute;
    top: 0px;
    z-index: 100;
    background: #fff;
}

.projectDetailBox .bugDetailBox .detailAttribute {
    position: absolute;
    top: 49px;
    bottom: 0px;
    overflow-y: auto;
}

.projectDetailBox .bugDetailBox .detailAttribute1 {
    padding: 0px;
}

.detailAttribute .btnBox {
    margin-left: 68px;
}



/*数据字典详情*/

.projectDetailBox .bugDetailBox .detailAttributeTop {
    position: absolute;
    top: 0px;
    bottom: 200px;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    padding: 0px 20px;
}

.projectDetailBox .bugDetailBox .detailAttributeTop1 {
    bottom: 0px;
}

.projectDetailBox .bugDetailBox .detailAttributeBottom {
    position: absolute;
    bottom: 0px;
    height: 200px;
    left: 0px;
    right: 0px;
    padding: 0px 20px;
    border-top: 1px solid #d9d9d9;
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    /* Firefox 4 */
    -webkit-transition: all 0.8s;
    /* Safari 和 Chrome */
    -o-transition: all 0.8s;
    background: #fff;
    /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2); */
}

.projectDetailBox .bugDetailBox .detailAttributeBottom .rg-top {
    position: absolute;
}

.projectDetailBox .bugDetailBox .detailAttributeBottom1 {
    height: 0px;
    bottom: -20px;
}

.projectDetailBox .bugDetailBox .detailAttributeBottom .title {
    height: 40px;
    font-size: 14px;
    padding: 0px 10px;
    color: #6e6e6e;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #f5f6fa;
}

.projectDetailBox .bugDetailBox .detailAttributeBottom .content {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px 20px;
    overflow-y: auto;
}


/*内容块*/

.detailAttribute {
    margin-top: 20px;
    padding: 0 22px 40px;
    width: 100%;
}


/*缺陷描述*/

.detailAttribute .describeBox {
    width: 100%;
}

.detailAttribute .describeBox .describeTitle {
    font-size: 14px;
    color: #0293f9;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px dashed #e5e5e5;
    margin-top: 24px;
}

.detailAttribute .describeBox .describeList {
    width: 100%;
    padding-top: 22px;
}

.detailAttribute .describeBox .describeListLi {
    position: relative;
    padding: 0 140px 15px 30px;
    color: #999;
    word-break: break-all;
    line-height: 24px;
}

.detailAttribute .describeBox .describeListLi .iconfont {
    font-size: 14px;
    position: absolute;
    top: 2px;
    left: 10px;
    display: inline-block;
    vertical-align: top;
    color: #ccc;
}

.detailAttribute .describeBox .describeListLiTime {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
}

.describeBox .describeTitle {
    font-size: 14px;
    line-height: 46px;
    height: 46px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 20px;
    padding-right: 20px;
}

.describeBox .describeTitle .searchBox {
    margin-top: 7px;
}

.describeContent textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 0;
    border-radius: 3px;
    padding: 9px 3px 9px 20px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
}




/*追加描述输入框*/

.addDescribe {
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    height: 35px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    /* Firefox 4 */
    -webkit-transition: all 0.4s;
    /* Safari 和 Chrome */
    -o-transition: all 0.4s;
}

.addDescribe textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 0;
    border-radius: 3px;
    padding: 9px 3px 6px 30px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
}

.addDescribeopen {
    border-color: #008bff;
    box-shadow: 0 0 8px #90caf9;
    height: 159px;
}

.addDescribeopen1 {
    border-color: #008bff;
    box-shadow: 0 0 8px #90caf9;
    height: 106px;
}

.addDescribe .icon-bianji {
    position: absolute;
    top: 7px;
    left: 9px;
    color: #8f9093;
    font-size: 15px;
}

.addDescribe .addDescribeFunc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    margin: 0px 5px;
    padding: 10px 0px;
    border-top: 1px solid #ccc;
}


/*项目模块输入框*/

.addProjectModel {
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    /* Firefox 4 */
    -webkit-transition: all 0.4s;
    /* Safari 和 Chrome */
    -o-transition: all 0.4s;
}

.addProjectModel .icon-biaoqian {
    position: absolute;
    top: 9px;
    left: 9px;
    color: #8f9093;
    font-size: 15px;
}

.addProjectModel input {
    width: 100%;
    border: 0;
    border-radius: 3px;
    padding: 10px 3px 10px 0px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
}

.addProjectModel .filterspan {
    background: #eee;
    margin-bottom: 5px;
    margin-left: 0px;
    max-width: 70%;
}


/*文件上传*/

.fileuploadBox {
    width: 100%;
}

.fileuploadBox .fileselectBox {
    line-height: 26px;
    width: 100%;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    padding: 8px 15px;
    overflow: hidden;
}

.fileuploadBox .fileList {
    margin-top: 10px;
}

.fileuploadBox .fileList>li {
    position: relative;
    background: #fff;
    padding: 8px 0 8px 60px;
    width: 100%;
    height: 58px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-bottom: 10px;
}

.fileuploadBox .fileList>li .fileIcon {
    width: 36px;
    height: 40px;
    position: absolute;
    overflow: visible;
    text-indent: 0!important;
    left: 12px;
    top: 8px;
}

.fileuploadBox .fileList>li .fileName {
    padding-right: 30px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    position: relative;
}

.fileuploadBox .fileList>li .fileName .icon-close {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 10px;
    line-height: 20px;
    color: #333;
    display: none;
}

.fileuploadBox .fileList>li:hover .fileName .icon-close {
    display: block;
}

.fileuploadBox .fileList>li .fileFooter {
    padding-right: 30px;
    position: relative;
    margin-top: 5px;
}

.fileuploadBox .fileList>li .fileFooter .filemoreFunc {
    position: absolute;
    top: 0px;
    right: 10px;
}

.fileuploadBox .fileList>li .fileFooter .filemoreFunc>.iconfont {
    line-height: 15px;
    cursor: pointer;
    color: #333;
}

.fileuploadBox .fileList>li .fileFooter .fileSize {
    color: #bdbdbd;
}


/*属性列表*/

.attributeList>li {
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 12px;
}

.attributeList .attributeListLeft {
    width: 300px;
    float: left;
}

.attributeList>li .attributeRight {
    width: 500px;
    display: flex;
    line-height: 24px;
    margin-top: 3px;
    white-space: normal;
    word-break: break-all;
    color: #000;
}

.attributeList>li .attributeLeft {
    float: left;
    line-height: 32px;
    width: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #999;
    margin-right: 24px;
    color: #999;
}

.attributeList1>li {
    margin-bottom: 5px;
}

.attributeList2>li {
    width: 50%;
    float: left;
}

.attributeList2>li .attributeRight {
    width: 60%;
}

.attributeList3>li .attributeLeft {
    font-size: 14px;
    color: #6c7786;
    width: 60px;
    margin-right: 28px;
}

.attributeList4>li .selectBox {
    height: 30px;
    line-height: 30px;
    background: #f5f6fa;
    outline: none;
    width: 60%;
    font-size: 12px;
    padding-left: 5px;
    border: 1px solid #e1e6eb;
}


/*成员管理列表样式*/

.openTableList {}

.openTableList>li>ol>li {
    position: relative;
    word-break: break-all;
    line-height: 24px;
    border-bottom: 1px solid #ddd;
    padding: 10px 40px 10px 30px;
}

.openTableList>li>ol>li a {
    position: absolute;
    right: 15px;
    top: 10px;
    line-height: 24px;
}

.openTableListTitle {
    border-bottom: 1px solid #ddd;
    color: #348cf1;
}

.openTableListToptitle {
    line-height: 40px;
    font-size: 14px;
}

.openTableListToptitle .chatIconButton {
    cursor: pointer;
    color: #008bff;
    border: 1px solid #008bff;
    line-height: 30px;
    margin-top: 15px;
    padding: 0px 5px;
}

.openTableListToptitle .chatIconButton:hover {
    color: #fff;
    background: #008bff;
}

.openTableListToptitle .chatIconButton .iconfont {
    margin-right: 3px;
}

.openTableListTitle .iconfont {
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: normal;
    vertical-align: baseline;
}

.openTableListTable {
    width: 100%;
    line-height: 24px;
}

.openTableListTable tr>td {
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    padding-left: 10px;
}

.openTableListTable tr>td:first-child {
    padding-left: 15px;
    word-break: break-all;
}

.openTableListTable th {
    color: #000;
    font-size: 12px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.userCaseListTable .title {
    font-size: 14px;
    color: #0293f9;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 24px;
}


/*右侧详情页终*/


/*新建缺陷起*/


/*新建bug*/

.createBugBox {
    padding-left: 60px;
    margin-top: 30px;
}

.createBugContentBox {
    width: 750px;
    margin: 0 auto;
    overflow: auto;
}

.createBugContent {
    width: 100%;
    background: #fff;
    margin-top: 0px;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}

.createBugBtnBox {
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #e0e0e0;
}

.createBugBtnBox .btndefault {
    margin-left: 10px;
}

.createBugContentTabchild {
    padding: 20px;
}


/*新建缺陷终*/


/*需求详情起*/


/*需求详情*/

.attributeBox .attribute {
    padding: 30px;
}

.attribute .demandContent {
    width: 65%;
}

.attribute .demandAttribute ul {
    width: 100%;
}

.attribute .demandAttribute {
    width: 30%;
}

.attribute .attributeNormal li {
    float: left;
    font-size: 14px;
    color: #6c7786;
    margin-bottom: 40px;
    width: 330px;
}

.attribute .attributeNormal li h1 {
    float: left;
    margin-right: 40px;
}

.attribute .attributeNormal li h2 {
    float: left;
    color: #000;
}

.attribute .attributeTitle {
    font-size: 14px;
    color: #0293f9;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 24px;
}

.attribute .attributeTitle input {
    width: 80%;
    height: 30px;
    border: 1px solid #E5E5E5;
    padding: 0 5px;
    color: #6E6E6E;
}

.attribute .attributeP {
    line-height: 24px;
    margin-bottom: 40px;
}

.attribute .attributeP li {
    margin: 10px 0;
}

.attribute .attributeP li .left {
    font-size: 14px;
    color: #6E6E6E;
    width: 100px;
    float: left;
    text-align: right;
    margin-right: 20px;
}

.attribute .attributeP li .right {
    float: left;
    font-size: 14px;
    color: #000;
}

.attribute .attributeP li .right select {
    height: 30px;
    line-height: 30px;
    background: #f5f6fa;
    outline: none;
    width: 150px;
    font-size: 12px;
    padding-left: 5px;
    border: 1px solid #e1e6eb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.attribute .attributeFile {
    margin-bottom: 20px;
}

.attribute .attributeFile li {
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 15px;
}

.attribute .attributeFile li span {
    margin: 0px 20px 0px 10px;
}

.attribute .attributeFile li em {
    cursor: pointer;
}


/*需求详情终*/


/*报表详情起*/

.statementList>li {
    width: 25%;
    float: left;
    font-size: 14px;
}

.statementList .statementListLeft {
    float: left;
    margin-right: 10px;
    max-width: 30%;
}

.statementList .statementListRight {
    color: #000;
    font-weight: bold;
    max-width: 60%;
    float: left;
}

.statementList1>li {
    width: 33%;
    float: left;
    font-size: 14px;
}


/* //图表块 */

.chartBox {
    overflow: hidden;
    padding: 20px 0px;
}

.chartContent {
    width: 33%;
    float: left;
}

.highcharts-credits {
    display: none;
}


/*报表详情终*/


/*数据池管理起*/

.dataPoolBox .tabTitle {
    width: 240px;
    margin: 0 auto;
    text-align: center;
}

.dataPoolBox .tabTitle li {
    width: 120px;
    float: left;
    cursor: pointer;
}

.dataPoolBox .tabTitle li a {
    font-size: 14px;
    color: #6e6e6e;
    text-align: center;
    display: block;
    line-height: 44px;
    margin-right: 15px;
    border-bottom: 2px solid transparent;
}

.dataPoolBox .tabTitle li.current a {
    color: #008BFF;
    border-bottom-color: #008BFF;
}

.dataPoolBox .collection ul {
    padding: 20px;
}

.dataPoolBox .collection ul li {
    margin-bottom: 10px;
}

.dataPoolBox .collection ul li .left {
    float: left;
    width: 150px;
    text-align: right;
    font-size: 14px;
    color: #313131;
    line-height: 34px;
    margin-right: 10px;
}

.dataPoolBox .collection ul li .right textarea {
    width: 480px;
    height: 150px;
    resize: none;
    float: left;
    margin-right: 8px;
}
.dataPoolBox .collection ul li .right .btndefault{
    width: 100px;
}

/*数据池管理终*/