/*属性列表*/
.modal-header {
    font-size: 16px;
}
.modal-header .modalCloseIcon{
    font-size: 18px;
    cursor: pointer;
}
.modal-footer .defaultcheckBox {
    margin-top: 8px;
}
.modalFooterCenter{
    text-align: center;
}
.modalFooterCenter .btndefault{
    margin: 0px 5px;
}
.modalBody .selectColumn li input {
    float: left;
    margin: 13px 5px;
}
.modal-body .treeBody{
    position:initial;
}
.titleUl>li h1 {
    float: left;
    width: 105px;
    text-align: right;
    font-size: 14px;
    color: #6c7786;
    line-height: 34px;
    margin-right: 10px;
}
.titleUl>li h1.hauto{
    width: auto;
    margin-left: 20px;
}
.titleUl>li h2 {
    float: left;
    font-size: 14px;
    color: #000;
    line-height: 34px;
    margin-right: 10px;
}

.titleUl {
    margin: 10px 10px 0px;
}

.titleUl>li {
    margin-bottom: 15px;
}
.titleUl>li p {
    float: left;        
    font-size: 14px;
    color: #313131;
    line-height: 34px       
}
.titleUl .borderUl {
    border: 1px solid #c3c4c9;
    width: 330px;
    height: 150px;
    overflow-y: auto;
}

.titleUl .borderUl>li {
    margin-bottom: 0px;
}
.titleUlAuto>li .inputText{
    width: 350px;
}
.titleUlAuto>li .projectTextarea{
    width: 350px;
}
.titleUl .funcBox{
    margin-left: 115px;
}
/*50%titleUl*/
.titleUl1{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding:15px 10px;
    margin:0px; 
}
.titleUl1>li{
    width: 33%;
    margin-bottom: 0px;
    float: left;
}
.titleUl1>li h1{
    width: auto;
    line-height: 24px;
}
.titleUl1>li h2{
    font-size: 12px;
    max-width: 60%;
    line-height: 24px;
    word-break: break-all;
}
/*发起执行弹窗*/
.runningDeviceBox .titleUl>li{
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
.runningDeviceBox .titleUl>li .inputText{
    width: 60%;
}
.runningDeviceBox .titleUl>li .selectNormal{
    width: 60%;
}
.runningDeviceBox .titleUl>li .defaultcheckBox{
    margin: 10px 0px;
}
.runningDeviceBox .table-fullborder tr{
    line-height: 28px;
    height: 28px;
    font-size: 12px;
}
.runningDeviceBox .table-fullborder tr td{
    font-size: 12px;
}
.runningDeviceBox .leftBottomPanelChild{
    padding: 10px;
    overflow-y: auto;
    height: 250px;
}
.runningDeviceBox .leftBottomPanelChildFunc{
    margin-bottom: 10px;
}
.runningDeviceBox .leftBottomPanelChildFunc .selectNormal{
    width: 120px;
    height: 28px;
    border-radius: 0;
    border-color: #008bff;
    color: #008bff;
    font-size: 12px;
}
.runningDeviceBox .leftBottomPanelChildFunc .borderbtndefault{
    line-height: 26px;
    height: 28px;
    font-size: 12px;
}
.runningDeviceBox .leftPanel {
    float: left;
    width: 70%;
    border-right: 1px solid #ccc;
}

.runningDeviceBox .rightPanel {
    float: left;
    width: 30%;
}

.runningDeviceBox .titleUl>li h1 {
    width: auto;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
}
.runningDeviceBox .titleUl>li .inputText{
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}
.runningDeviceBox .titleUl>li .selectNormal{
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}
.runningDeviceDateBox{
    height: 460px;
    overflow-y: auto;
    border-top: 1px solid #eee;
}
/*执行用例*/
.deviceInfo{
    padding: 10px 20px;
}
/*执行日志*/
.runningLog{
    padding:5px 10px 0px 20px;
}
.runningLogText{
    color: #999;
    word-break: break-all;
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 5px;
}
/*创建功能点*/
.createFuncPoints .titleUl{    
}
.createFuncPoints .modalRightContent{
    height: 400px;
    overflow-y: auto;
}
.createFuncPoints .modalRightContent1{
    padding-left: 10px;
    height: 570px;
}
/*多选块*/
.modalSelectPanel{
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    padding: 10px 20px;
    border-top: 1px solid #eee;
}
.modalSelectPanel .title{
    font-size: 14px;
    margin-bottom: 10px;
}
.modalSelectPanel .multselectUl>li{
    font-size: 14px;
    width: 30%;
    float: left;
    margin-bottom: 5px;
}
.createFuncPoints .titleUl .funcBox1{
    margin-left: 20px;
}
.modalDataPanel .title{
    font-size: 14px;
    padding-bottom: 10px;
}
.modalDataPanel .title .leftTitle{
    margin-top: 6px;
}
.modalDataPanel .title .chatIconButton .iconfont{
    font-size: 20px;
    color: #008bff;
    line-height: 1em;
    vertical-align: text-top;
}
.modalDataPanel .title .chatIconButton{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    margin-right: 5px;
}
.modalDataPanel .title .chatIconButton:hover{
    color: #008bff;
}
.modalDataPanel .table-fullborder tbody>tr{
    height: 30px;
    line-height: 30px;
}
.modalDataPanel{
    padding: 10px 0px 0px;
}
.modalDataPanel .tablePanel{
    max-height: 220px;
    overflow-y: auto;
}
.modalDataPanel .tablePanel1{
    height: 180px;
    overflow-y: auto;
    border:1px solid #eee;
}
.modalDataPanel .tablePanel1 .table-fullborder{
    border:none;
}
.modalDataPanel .table-fullborder>tbody>tr>td{
    font-size: 13px;
    line-height: 22px;
    padding: 5px 10px;
}
/*弹窗左切换*/
.modalLeftTab{
    width: 145px;
    border-right: 1px solid #eee;
    height: 400px;
}
.modalLeftTab>li{
    color: #333;
    height: 40px;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.modalLeftTab>li:hover{
    background: #f5f5f5;
}
.modalLeftTab>li.current{
    color: #008bff;
    font-size: 14px;
}

/*立即执行执行情况*/
.caseChart{
    margin: 20px 10px 10px 10px;
}
.casetable>tbody>tr>td{
    line-height: 32px;
    border:1px solid #eee;
    border-width: 0px 1px 1px 0px;
}
.casetable>tbody>tr>td:last-child{
    border-right: 0px;
}
.casetable{
    border:1px solid #eee;
    border-width: 0px 0px 0px 0px;
}
.casetable1{
    border-width: 0px 1px 1px 1px;
}
.casetable>tbody>tr>td:first-child{
    padding: 0px 10px;
    width: 170px;
}
.casetable>tfoot>tr>td:first-child{
    padding: 0px 10px;
    width: 170px;
}
.casetable>tbody>tr>td.state .barBox{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    overflow: hidden;
    cursor: pointer;
}
.casetable>tbody>tr>td.state .bar{
    right: 0px;
    background: #008bff;
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 0px;
}
.casetable>tbody>tr>td.state .barchild{
    top: 8px;
    bottom: 8px;
    border-right: 1px solid #fff;
    color: #fff;
    line-height: 14px;
    text-align: center;
    font-size: 11px;
    white-space: nowrap;
}
.casetable>tbody>tr>td.state .barcase{
    top:0px;
    bottom: 0px;
}
.casetable>tbody>tr>td.state .barcase:hover{
    background: #bbdefb!important;
}
.casetable>tbody>tr.timeTr>td{
    height: 100px;
}
.casetable>tbody>tr>td.state{
    width: 360px;
    position: relative;
}
.casetable>tbody>tr>td.state:hover .detailBox{
    display: block;
}
.casetable>tbody>tr>td.state .detailBox{
    max-width: 400px;
    min-width: 250px;
    background: rgba(255,255,255,1);
    padding: 10px;
    position: absolute;
    top: 90%;
    transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0); 
    -webkit-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    left: 50%;
    z-index: 5;
    border: 1px solid #008bff;
    box-shadow: 0px 0px 5px #008bff;
    display: none;
}
.casetable>tbody>tr>td>.casename{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.casetable>tbody>tr>td.state .detailBox:before{
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #008bff;
    position: absolute;
    left: 50%;
    top: -16px;
    margin-left: -8px;
}
.casetable>tbody>tr>td.state .detailBox .casename{
    max-width: 100%;
    word-break: break-all;
    line-height: 20px;
    color: #008bff;
}
.casetable>tbody>tr>td.state .detailBox:after{
    content: "";
    border: 6px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 50%;
    top: -12px;
    margin-left: -6px;
}
.casetable>tbody>tr>td.state .detailBox p{
    line-height: 24px;
}
.casetable>tfoot>tr{
    height: 32px;
}
.casetable>tfoot>tr>td .time{
    position: absolute;
    top: 10px;
    text-align: center;
}
.casetable>tfoot>tr>td.foottime{
    position: relative;
    color: #000;
}
.casetable>tfoot>tr>td .starttime{
    left: 10px;
    /* transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);    IE 9
    -moz-transform:translate(-50%,0);   Firefox
    -webkit-transform:translate(-50%,0); Safari 和 Chrome
    -o-transform:translate(-50%,0); */
}
.casetable>tfoot>tr>td .endtime{
    right: 10px;
    /* transform:translate(50%,0);
    -ms-transform:translate(50%,0); IE 9
    -moz-transform:translate(50%,0);    Firefox
    -webkit-transform:translate(50%,0); Safari 和 Chrome
    -o-transform:translate(50%,0); */
}
.caseChart .timetype{
    margin-bottom: 10px;
    position: relative;
}
.caseChart .timetype .selectBox{
    line-height: 28px;
    height: 28px;
    border: 1px solid #ddd;
    position: relative;
    width: auto;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
    font-size: 12px;
    padding: 0px 5px;
}
.caseChart .timetype .timetypecenter{
    position: absolute;
    left: 50%;
    transform:translate(-50%,0);
    -ms-transform:translate(-50%,0); 
    -moz-transform:translate(-50%,0);   
    -webkit-transform:translate(-50%,0); 
    -o-transform:translate(-50%,0);
    z-index: 100;
}
.caseChart .timetype .shownow{
    line-height: 28px;
}
.caseChart .timetype .shownow input{
    float:left;
    margin-top: 8px;
    margin-right: 5px;
}
.caseChart .btnGroup .bgBtn{
    border: 1px solid #ddd;
    box-shadow: none;
    border-left: 0;
    cursor: pointer;
    height: 28px;
    vertical-align: middle;
    background: #fff;
    color: #333;
    padding: 0px 10px;
    text-align: center;
    outline: none;
    float:left;
}
.caseChart .btnGroup .bgBtn.current{
    background: #008bff;
    color: #fff;
}
.caseChart .btnGroup .bgBtn.redBtn{
    background: #ff6248;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}
.caseChart .btnGroup .bgBtn.redBtn:hover{
    background: #ff6248;
    color: #fff;
}
.caseChart .btnGroup .bgBtn.greenBtn{
    background: #02b4cb;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.caseChart .btnGroup .bgBtn.greenBtn:hover{
    background: #02b4cb;
    color: #fff;
}
.caseChart .btnGroup .bgBtnPage{
    width: 28px;
    padding: 0px;
}
.caseChart .btnGroup .bgBtnPage:hover .iconfont{
    color: #fff;
}
.caseChart .btnGroup .bgBtnPage .iconfont{
    font-size: 12px;
    color: #b1b1b1;
}
.caseChart .btnGroup .bgBtn:hover{
    background: #008bff;
    color: #fff;
}
.caseChart .btnGroup .bgBtn:first-child{
    border-left: 1px solid #ddd;
    border-radius: 3px 0px 0px 3px;
}
.caseChart .btnGroup .bgBtn:last-child{
    border-radius: 0px 3px 3px 0px;
}
.colorInfoBox{
    margin: 0 auto;
}
.colorInfoBox .colorInfo{
    line-height: 1em;
    float: left;
    margin: 8px 10px;
}
.colorInfoBox .colorInfo span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #008bff;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 3px;
}
.colorInfoBox .colorInfo.fail span{
    background: #fa4552;
}
.colorInfoBox .colorInfo.success span{
    background: #4caf50;
}
.colorInfoBox .colorInfo.running span{
    background: #008bff;
}
/* 日期时间选择器 */
.defaultDateTimeSelectBox .timeselectInput{
    height: 28px;
    border: 1px solid #ddd;
    padding: 0px 10px;
    width: 100px;
}
.defaultDateTimeSelectBox .timeselectTitle{
    line-height: 28px;

}
.casetableBox{
    height: 330px;
    border: 1px solid #eee;
    overflow-y: auto;
    overflow-x: hidden;
}