/*属性列表*/
.modal-header {
    font-size: 16px;
}

.modal-footer .defaultcheckBox {
    margin-top: 8px;
}

.modalBody .selectColumn li input {
    float: left;
    margin: 13px 5px;
}
.titleUl li h1 {
    float: left;
    width: 105px;
    text-align: right;
    font-size: 14px;
    color: #6c7786;
    line-height: 34px;
    margin-right: 10px;
}

.titleUl>li h2 {
    float: left;
    font-size: 14px;
    color: #000;
    line-height: 34px;
    margin-right: 10px;
}

.titleUl {
    margin: 10px 10px 0px;
}

.titleUl>li {
    margin-bottom: 15px;
}

.titleUl .borderUl {
    border: 1px solid #c3c4c9;
    width: 330px;
    height: 150px;
    overflow-y: auto;
}

.titleUl .borderUl>li {
    margin-bottom: 0px;
}

/* .titleUl .multselectUl>li {
    line-height: 34px;
    font-size: 14px;
}

.titleUl .multselectUl>li input {
    margin: 0px 5px 0px 10px;
    vertical-align: middle;
} */
.titleUl .funcBox{
    margin-left: 115px;
}
/*发起执行弹窗*/
.runningDeviceBox .titleUl>li{
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
.runningDeviceBox .titleUl>li .inputText{
    width: 60%;
}
.runningDeviceBox .titleUl>li .selectNormal{
    width: 60%;
}
.runningDeviceBox .titleUl>li .defaultcheckBox{
    margin: 10px 0px;
}
.runningDeviceBox .table-fullborder tr{
    line-height: 28px;
    height: 28px;
    font-size: 12px;
}
.runningDeviceBox .table-fullborder tr td{
    font-size: 12px;
}
.runningDeviceBox .leftBottomPanelChild{
    padding: 10px;
    overflow-y: auto;
    height: 250px;
}
.runningDeviceBox .leftBottomPanelChildFunc{
    margin-bottom: 10px;
}
.runningDeviceBox .leftBottomPanelChildFunc .selectNormal{
    width: 120px;
    height: 28px;
    border-radius: 0;
    border-color: #008bff;
    color: #008bff;
    font-size: 12px;
}
.runningDeviceBox .leftBottomPanelChildFunc .borderbtndefault{
    line-height: 26px;
    height: 28px;
    font-size: 12px;
}
.runningDeviceBox .leftPanel {
    float: left;
    width: 70%;
    border-right: 1px solid #ccc;
}

.runningDeviceBox .rightPanel {
    float: left;
    width: 30%;
}

.runningDeviceBox .titleUl>li h1 {
    width: auto;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
}
.runningDeviceBox .titleUl>li .inputText{
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}
.runningDeviceBox .titleUl>li .selectNormal{
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}
/*创建功能点*/
.createFuncPoints .titleUl{    
}
.createFuncPoints .modalRightContent{
    height: 400px;
    overflow-y: auto;
}
/*多选块*/
.modalSelectPanel{
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    padding: 10px 20px;
    border-top: 1px solid #eee;
}
.modalSelectPanel .title{
    font-size: 14px;
    margin-bottom: 10px;
}
.modalSelectPanel .multselectUl>li{
    font-size: 14px;
    width: 30%;
    float: left;
    margin-bottom: 5px;
}
.createFuncPoints .titleUl .funcBox1{
    margin-left: 20px;
}
.modalDataPanel .title{
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.modalDataPanel .title .leftTitle{
    margin-top: 6px;
}
.modalDataPanel .title span .iconfont{
    font-size: 20px;
    color: #008bff;
    line-height: 1em;
    vertical-align: text-top;
}
.modalDataPanel .table-fullborder tbody>tr{
    height: 30px;
    line-height: 30px;
}
.modalDataPanel{
    padding: 0px 20px 10px;
    border-top: 1px solid #eee;
}
.modalDataPanel .tablePanel{
    max-height: 220px;
    overflow-y: auto;
}
.modalDataPanel .table-fullborder tbody>tr>td{
    font-size: 13px;
    line-height: 22px;
    padding: 5px 10px;
}
/*弹窗左切换*/
.modalLeftTab{
    width: 145px;
    border-right: 1px solid #eee;
    height: 400px;
}
.modalLeftTab>li{
    color: #333;
    height: 40px;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.modalLeftTab>li:hover{
    background: #f5f5f5;
}
.modalLeftTab>li.current{
    color: #008bff;
    font-size: 14px;
}