<style type="text/css">
	.attributeList>li{
		position: static;
	}
</style>
<div class="projectDetailBox" ng-controller="projectListCtrl">
	<div class="detailTitle">
		<span class="floatleft bugId">233</span>
		<span class="bugName text_ellipsis">项目名称</span>
		<input type="button" class="btndefault btndefault_blue floatright" name="" value="保存" ng-show="isAttribute==1">
	</div>
	<div class="bugDetailBox" ng-init="isAttribute=1">
		<div class="tab">
			<span ng-class="{current:isAttribute==1}" ng-click="isAttribute=1">项目属性</span>
			<span ng-class="{current:isAttribute==2}" ng-click="isAttribute=2">成员管理</span>
		</div>
		<!-- 项目属性 -->
		<div class="detailAttribute" ng-show="isAttribute==1">
			<ul class="attributeList attributeList1 attributeList4">
				<li class="clearfix">
					<span class="attributeLeft">
                        <span  ng-repeat="n in turnArray('项,目,类,型')">{{n}}</span>
					</span>
					<select class="selectBox">
						<option>界面</option>
						<option>接口</option>
						<option>APP</option>
					</select>
				</li>
				<li class="clearfix">
					<span class="attributeLeft">
                        <span  ng-repeat="n in turnArray('项,目,状,态')">{{n}}</span>
					</span>
					<select class="selectBox">
						<option>未执行</option>
						<option>执行中</option>
						<option>已执行</option>
					</select>
				</li>
				<li class="clearfix">
					<span class="attributeLeft">
                        <span  ng-repeat="n in turnArray('开,始,时,间')">{{n}}</span>
					</span>
					<input type="text" class="selectBox" datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
				</li>
				<li class="clearfix">
					<span class="attributeLeft">
                        <span  ng-repeat="n in turnArray('结,束,时,间')">{{n}}</span>
					</span>
					<input type="text" class="selectBox" datepicker-popup="{{format1}}" ng-model="dat1" is-open="popup2.opened" alt-input-formats="altInputFormats1" ng-click="$event.stopPropagation();open2()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
				</li>
				<li class="clearfix">
					<span class="attributeLeft">
                        <span  ng-repeat="n in turnArray('缺,陷,流,程')">{{n}}</span>
					</span>
					<select class="selectBox">
						<option>默认流程11</option>
						<option>项目111流程</option>
					</select>
					<span style="color: #48a1ff;font-size: 14px;margin-left: 10px;cursor: pointer;" ng-click="open('checkProcess','lg')">查看缺陷流程</span>
				</li>
			</ul>
			<div class="describeBox">	
				<div class="describeTitle" style="margin-top: 0px;">
					项目描述
				</div>
				<div class="describeList" bn-document-click="addDescribe=false">
					<div class="addDescribe" ng-class="{addDescribeopen1:addDescribe}" ng-click="$event.stopPropagation();addDescribe=true">
						<textarea placeholder="填写项目描述"></textarea>
						<i class="iconfont icon-bianji"></i>
					</div>
				</div>
			</div>
			<div class="describeBox">
				<div class="describeTitle" style="margin-top: 0px;">
					定制属性
				</div>
			</div>
		</div>
		<div class="detailAttribute" ng-show="isAttribute==2" style="margin-top: 0px;">
			<div class="openTableList">
				<div class="openTableListToptitle">
					<span class="chatIconButton floatleft" ng-click="open('addUser')">
                        <i class="iconfont icon-addpeople_fill"></i>添加成员
                    </span>
					<div class="clear"></div>
				</div>
				<table class="openTableListTable">
					<tr>
						<th style="200px">成员</th>
						<th style="width: 360px;">角色</th>
						<th style="width: 40px;">操作
							</th>
					</tr>
					<tr>
						<td>
							humq111（胡明琪）
						</td>
						<td>
							项目经理,测试工程师
						</td>
						<td>
							<a class="f_red" style="cursor:pointer">删除</a>
						</td>
					</tr>
				</table>				
			</div>
		</div>
	</div>
</div>