<style type="text/css">
	.attributeList3>li .attributeLeft {
		display: inline-block;
		width: 130px !important;
		text-align: right;
	}
</style>
<div class="projectBodyBox" ng-controller="projectCreateProjectCtrl">
	<div class="projectBodyTitle">
		新建项目
		<input ng-click="back()" type="button" class="floatright btndefault btndefault_gray" value="返回">
		<input type="button" class="floatright btndefault btndefault_blue" value="保存">
	</div>
	<div class="projectBodyContent projectBodyContent1">
		<div class="createBugContentBox">
			<div class="createBugContent">
				<div class="describeBox">
					<div class="describeTitle">
						基本属性
					</div>
					<div class="describeContent padding_20">
						<ul class=" attributeList1 attributeList3">
							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('项,目,名,称')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<input type="text" class="inputText" name="">
							</li>							
							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('项,目,代,码')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<input type="text" class="inputText" name="">
							</li>
							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('需,求,编,码')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<input type="text" class="inputText" name="">
							</li>
							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('项,目,类,型')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<select name="" class="selectBox" style="width: 480px;">
									<option value="">界面</option>
									<option value="">接口</option>
									<option value="">APP</option>
								</select>
							</li>
							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('测,试,计,划,开,始,时,间')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<a>
									<input type="text" class="inputText" datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
									<div class="clear"></div>
								</a>
							</li>
							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('测,试,计,划,结,束,时,间')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<a>
									<input type="text" class="inputText" datepicker-popup="{{format1}}" ng-model="dat1" is-open="popup2.opened" alt-input-formats="altInputFormats1" ng-click="$event.stopPropagation();open2()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
									<div class="clear"></div>
								</a>
							</li>
							<li class="" ng-controller="modalCtrl">
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('缺,陷,流,程')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<select class="selectBox" style="width: 350px;">
									<option>默认流程</option>
									<option>项目1流程</option>
								</select>
								<span style="color: #48a1ff;font-size: 14px;margin-left: 10px;cursor: pointer;" ng-click="open('checkProcess','lg')">查看缺陷流程</span>
							</li>
							<li class="" ng-controller="modalCtrl">
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('项,目,经,理')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<input type="text" class="inputText" name="" readonly="readonly" style="width: 350px;">
								<i class="iconfont icon-addpeople_fill" style="color: #48a1ff;font-size: 20px;margin-left: 10px;cursor: pointer;" ng-click="open('selectManager')"></i>
							</li>

							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('状,态')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<select name="" class="selectBox" style="width: 480px;">
									<option value="">未执行</option>
									<option value="">执行中</option>
									<option value="">已执行</option>
								</select>
							</li>
							<li>
								<span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('是,否,启,用')">{{n}}</span>
								<em class="f_red">*</em>
								</span>
								<select name="" class="selectBox" style="width: 480px;">
									<option value="">启用</option>
									<option value="">不启用</option>

								</select>
							</li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>
			<div class="createBugContent">
				<div class="describeBox">
					<div class="describeTitle" ng-controller="modalCtrl">
						定制属性<span style="color: gray;">（已选：模板的名称）</span>
						<i class="iconfont icon-bianji floatright" style="cursor: pointer;" ng-click="open('customAttributes','lg')"></i>
					</div>
					<div class="describeContent padding_20">
						<ul class=" attributeList1 attributeList3">
							<li>
								<span class="attributeLeft">TextInput</span>
								<input type="text" class="inputText" name="" id="" value="" />
							</li>
							<li>
								<span class="attributeLeft">
                               	date
								</span>
								<a>
									<input type="text" class="inputText" datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />									
								</a>
							</li>
							<li>
								<span class="attributeLeft">
                                comobox								
								</span>
								<select name="" class="selectBox" style="width: 480px;">
									<option value="">111111111111111111</option>
									<option value="">2222222222222222222</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="createBugContent">
				<div class="describeBox">
					<div class="describeTitle">
						项目描述
					</div>
					<div class="describeContent">
						<textarea placeholder="请输入项目的描述"></textarea>
					</div>
					<div class="createBugBtnBox clearfix">
						<input type="button" name="" value="返回" class="floatright btndefault btndefault_gray">
						<input type="button" name="" value="提交" class="floatright btndefault btndefault_blue">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>