<style type="text/css">
</style>
<div class="projectBodyBox">
    <div class="projectBodyTitle">
        新建项目
        <input ng-click="back()" type="button" class="floatright btndefault btndefault_gray" value="返回">
        <input type="button" class="floatright btndefault btndefault_blue" value="保存">
    </div>
    <div class="projectBodyContent projectBodyContent1">
        <div class="createBugContentBox">
            <div class="createBugContent">
                <div class="describeBox">
                    <div class="describeTitle">
                        基本属性
                    </div>
                    <div class="describeContent padding_20">
                        <ul class="attributeList attributeList1 attributeList3">
                            <li>
                                <span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('项,目,名,称')">{{n}}</span>
                                <em class="f_red">*</em>
                                </span>
                                <input type="text" class="inputText" name="">
                            </li>
                            <li class="">
                                <span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('开,始,时,间')">{{n}}</span>
                                <em class="f_red">*</em>
                                </span>
                                <input type="text" class="inputText" name="">
                            </li>
                            <li class="">
                                <span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('结,束,时,间')">{{n}}</span>
                                <em class="f_red">*</em>
                                </span>
                                <input type="text" class="inputText" name="">
                            </li>
                            <li class="">
                                <span class="attributeLeft">
                                <span  ng-repeat="n in turnArray('缺,陷,流,程')">{{n}}</span>
                                <em class="f_red">*</em>
                                </span>
                                <select class="selectBox" style="width: 480px">
                                    <option>默认流程</option>
                                    <option>项目1流程</option>
                                </select>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="createBugContent">
                <div class="describeBox">
                    <div class="describeTitle">
                        项目模块
                    </div>
                    <div class="describeContent">
                        <textarea placeholder="请输入项目的描述"></textarea>
                    </div>
                </div>
            </div>
            <div class="createBugContent">
                <div class="describeBox">
                    <div class="describeTitle">
                        项目描述
                    </div>
                    <div class="describeContent">
                        <textarea placeholder="请输入项目的描述"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>