<style type="text/css">
	.demandContent li {
		font-size: 14px;
		line-height: 25px;
		color: #6E6E6E;
	}
	
	.demandContent .left {
		width: 50%;
		float: left;
	}
	
	.activities {
		width: 100%;
	}
	
	.activities .activitiesItem {
		width: 100%;
		min-height: 80px;
		margin-bottom: 20px;
	}
	
	.activities .activitiesItem .activityTitle {
		height: 30px;
		line-height: 30px;
		width: 100%;
		margin-bottom: 10px;
		font-size: 14px;
	}
	
	.activityRules p {
		width: 100%;
		position: relative;
		font-size: 14px;
		color: #313131;
		line-height: 25px;
	}
	
	.activityRules p span {
		display: inline-block;
		width: 90%;
	}
	
	.activityRules p .iconfont {
		position: absolute;
		right: 10px;
		cursor: pointer;
	}
	
	.activityRules p .iconfont:hover {
		color: #48a1ff;
	}
	
	.demandName {
		display: inline-block;
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.operate {
		margin-right: 10px;
		cursor: pointer;
	}
	
	.icon-tupian {
		margin-left: 10px;
		cursor: pointer;
	}
	
	.list {
		cursor: pointer;
		padding-left: 20px;
	}
	
	.list:hover {
		color: #48a1ff;
	}
	.hoverFF:hover{
		color: #FFFFFF;
	}
</style>
<div class="projectBodyBox" ng-controller="modalCtrl">
	<div class="projectBodyTitle " style="text-align: center;">
		<div class="floatleft">需求名字2</div>
		<div class="personalNav" style="display: inline-block;">
			<ul>
				<li class="current">
					<a href="" class="cursor_p">需求内容</a>
				</li>
				<li ui-sref="index.demand2.usecaseScenario">
					<a href="" class="cursor_p">用例场景</a>
				</li>
				<li ui-sref="index.demand2.usecaseHistory">
					<a href="" class="cursor_p">需求历史</a>
				</li>
				<div class="clear"></div>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="projectBodyContent">
		<div class="attributeBox">
			<div class="">
				<div class="attribute fix">
					<div class="demandContent floatleft" style="padding-bottom:50px">
						<div class="attributeTitle">
							需求信息
							<i class="iconfont icon-bianji" style="margin-left: 5px;cursor: pointer;" ng-click="open('newDemand2','lg')"></i>
						</div>
						<ul>
							<li class="clearfix">
								<div class="left">
									<span class="demandName">需求名称：需求的名称需求的名称需求的名称需求的名称</span>
								</div>
								<div class="right">
									需求编号：6666
								</div>
							</li>
							<li class="clearfix">
								<div class="left">
									需求类型：
								</div>
								<div class="right">
									所属目录：13316545
								</div>
							</li>
							<li class="clearfix">
								<div class="left">
									需求状态：
								</div>
								<div class="right">
									优先级：低
								</div>
							</li>
							<li class="clearfix">
								<div class="left">
									需求来源：自创建
								</div>
								<div class="right">
									需求负责人：王大锤
								</div>
							</li>
							<li class="clearfix">
								<div class="left">
									需求描述
									<i class="iconfont icon-bianji" style="margin-left: 5px;cursor: pointer;color: #48a1ff;" ng-click="open('description','lg')"></i>										
								</div>
								<div class="right">
									关联用例数：
									<a class="f_blue cursor_p" ui-sref="index.usecase">3</a>
								</div>
							</li>

						</ul>
						<div class="attributeTitle" style="margin-top:20px">
							功能点设计
						</div>
						<div class="clearfix">
							<div style="position: relative;" class="floatleft">								
								<input type="button" name="" value="上传活动图" readonly="readonly" class="btndefault btndefault_blue">
								<input style="opacity: 0;position: absolute;left: 0px;top: 0px;width: 108px;bottom: 0px;" type="file" name="" value="选择文件" class="">
								<a href="#/activityGraph" ui-sref="activityGraph" target="_blank" class="btndefault btndefault_blue hoverFF" style="display: inline-block;">画活动图</a>
							</div>
							<div class="dropdownBox floatleft dateBoxClear" dropdown="" style="margin-right: 10px;">
								<div dropdown-toggle="" class="dropdowntoggle" aria-haspopup="true" aria-expanded="false" style="position: relative;">
									<input type="button" name="" value="添加功能点" readonly="readonly" class="btndefault btndefault_blue" style="margin-left: 10px;padding-right: 40px;">
									<i class="glyphicon glyphicon-triangle-bottom" style="position: absolute;right: 20px;top: 10px;color: #fff;"></i>
								</div>
								<ul class="dropdown-menu dropdown-menu1 tableDropdownMenu" dropdown-menu="" role="menu" style="left: 10px">
									
									<li class="dropdownList">
										<span class="list" ng-click="open('ruleBank')">引用功能点库</span>
									</li>
									<li class="dropdownList">
										<span class="list" ng-click="open('addActivity')">手动添加</span>
									</li>
								</ul>
							</div>
						</div>

						<ul class="activities">
							<li class="activitiesItem">
								<div class="activityTitle">
									<span>活动图的名字</span>
									<i class="iconfont icon-tupian" title="查看活动图"></i>
								</div>
								<div class="activityRules">
									<table border="" cellspacing="" cellpadding="" class="table-fullborder table-fullborder2">
										<tr>

											<th>名称</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
										<tr>
											<td>规则1规则规则规则规则规则规则规则规则规则规则</td>
											<td>未绑定</td>
											<td>
												<a class="operate f_blue" ng-click="open('componentConfigurator')">组件管理</a>
												<a class="operate f_red">删除</a>
											</td>
										</tr>
									</table>
								</div>
							</li>
							<li class="activitiesItem">

								<div class="activityTitle">
									<div class="activityTitle">
										<span>活动图的名字</span>
										<i class="iconfont icon-tupian" title="查看活动图"></i>
									</div>
								</div>
								<div class="activityRules">
									<table border="" cellspacing="" cellpadding="" class="table-fullborder table-fullborder2">
										<tr>
											<th>名称</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
										<tr>
											<td>规则1规则规则规则规则规则规则规则规则规则规则</td>
											<td>已绑定</td>
											<td>
												<a class="operate f_blue" ng-click="open('componentConfigurator')">组件管理</a>
												<a class="operate f_red">删除</a>
											</td>
										</tr>
									</table>
								</div>
							</li>
						</ul>
					</div>
					<div class="floatright demandAttribute">
						<div class="attributeTitle">
							自定义属性
						</div>
						<ul class="attributeP">
							<li class="clearfix">
								<div class="left">
									自定义属性：
								</div>
								<div class="right">
									467832ASW
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>