<style type="text/css">
</style>
<div class="projectNav" style="overflow: hidden;">
    <div class="projectNavList">
        <div class="title">
            过滤器
            <span class="chatIconButton floatright treefunicon" data-tip="新建过滤器">
                <i class="iconfont icon-add"></i>
            </span>
        </div>
        <ul class="projectNavListContent">
            <li class="{{projectNavNow==1?'active':''}}" ng-click="projectNavNow=1">
                <i class="iconfont icon-shaixuan i_color6 filterIcon"></i>
                <span class="filtername">全部用例</span>
            </li>
            <li class="{{projectNavNow==2?'active':''}}" ng-click="projectNavNow=2">
                <i class="iconfont icon-shaixuan i_color7 filterIcon"></i>
                <span class="filtername">我创建的用例</span>
            </li>
        </ul>
    </div>
    <div class="leftNavList projectNavList" style="top: 120px;">
        <div class="title">
            自定义过滤器
            <span class="chatIconButton floatright treefunicon" data-tip="新建过滤器">
                <i class="iconfont icon-add"></i>
            </span>
        </div>
        <div class="customFilterContent">
            <ul class="customFilterSelect" accordion close-others="true">
                <li accordion-group>
                    <div accordion-heading class="customFilterTitle">
                        <i class="iconfont icon-quanxuan selectAll"></i>
                        <span>缺陷状态</span>
                        <i class="iconfont  floatright openFilter"></i>
                    </div>
                    <ol>
                        <li class="defaultcheckBox">
                            <input class="floatleft" type="checkbox" name="">
                            <span class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                        </li>
                        <li class="defaultcheckBox">
                            <input class="floatleft" type="checkbox" name="">
                            <span class="defaultcheckText">低</span>
                        </li>
                        <li class="defaultcheckBox">
                            <input class="floatleft" type="checkbox" name="">
                            <span class="defaultcheckText">高</span>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>   