<style type="text/css">
</style>
<div class="projectBodyBox">
    <div class="projectBodyTitle flexRow">
        <div class="floatleft flexRow flex">需求名字</div>
        <div class="floatleft personalNav">
            <ul>
                <li>
                    <a class="cursor_p" ui-sref="index.demand.demandDetails">需求内容</a>
                </li>
                <li class="current">
                    <a class="cursor_p">用例设计</a>
                </li>
                <li>
                    <a class="cursor_p">需求链接</a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="floatright flex">
            <input type="button" class="floatright btndefault btndefault_blue" name="" id="" value="返回" ui-sref="index.demand" />
        </div>
    </div>
    <div class="projectBodyContent">
        <div class="projectBodyBox" ng-controller="demandCtrl">
            <div class="projectBodyTitle flexRow">
                <div class="floatleft flexRow flex"></div>
                <div class="floatleft personalNav">
                    <ul>
                        <li ui-sref="index.demand.useCaseScenario">
                            <a href="" class="cursor_p">功能点</a>
                        </li>
                        <li class="current">
                            <a href="" class="cursor_p">测试用例</a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="flex"></div>
            </div>
            <div class="projectBodyContent projectBodyContent2">
                <div class="useCaseList usecaseListPanel floatleft" style="width: 60%;border-right: 5px solid #e4e6f1" ng-style="useCaseListStyle">
                    <div class="useCaseListfunc" style="line-height: 43px;">
                        <div class="dropdownDefault floatleft" dropdown>
                            <div dropdown-toggle class="dropdowntoggle">
                                <span class="dropdowntoggletext">类型</span>
                                <i class="iconfont icon-unfold"></i>
                            </div>
                            <ul class="dropdown-menu transition" dropdown-menu role="menu">
                                <span class="triangle"></span>
                                <li class="current"><i class="iconfont icon-clock"></i><span>默认</span></li>
                                <li><i class="iconfont icon-editor"></i><span>最新创建</span></li>
                                <li><i class="iconfont icon-activity"></i><span>最近操作</span></li>
                            </ul>
                        </div>
                        <div class="dropdownDefault floatleft" dropdown>
                            <div dropdown-toggle class="dropdowntoggle">
                                <span class="dropdowntoggletext">关联组件</span>
                                <i class="iconfont icon-unfold"></i>
                            </div>
                            <ul class="dropdown-menu transition" dropdown-menu role="menu">
                                <span class="triangle"></span>
                                <li class="current"><i class="iconfont icon-clock"></i><span>默认</span></li>
                                <li><i class="iconfont icon-editor"></i><span>最新创建</span></li>
                                <li><i class="iconfont icon-activity"></i><span>最近操作</span></li>
                            </ul>
                        </div>
                        <div class="dropdownBox floatleft dateBoxClear" dropdown>
                            <div dropdown-toggle class="dropdowntoggle">
                                <span class="dropdowntoggletext">时间范围</span>
                                <i class="iconfont icon-unfold"></i>
                            </div>
                            <ul class="dropdown-menu dropdown-menu1 tableDropdownMenu" dropdown-menu role="menu">
                                <li class="datetimePicker">
                                    <a>开始时间：
                                        <input type="text" class="inputText inputTextl_250" datepicker-popup="{{format}}" ng-model="dat1" is-open="popup1.opened" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                                        <div class="clear"></div>
                                    </a>
                                                </li>
                                                <li class="datetimePicker">
                                                    <a>结束时间：
                                        <input type="text" class="inputText inputTextl_250" datepicker-popup="{{format1}}" ng-model="dat1" is-open="popup2.opened" alt-input-formats="altInputFormats1" ng-click="$event.stopPropagation();open2()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li class="marginb_10">
                                    <a>
                                        <input type="button" class="btn btn-sm btn-success" value="确认">
                                        <input type="button" class="btn btn-sm btn-info" value="清空">、
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="floatright searchBox">
                            <input type="text" name="" class="inputSearch" placeholder="输入关键词按回车搜索">
                            <i class="iconfont icon-search"></i>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="useCaseListfunction">
                        <span class="floatleft selectNum">已选中2项：</span>
                        <span class="chatIconButton">
                            <i class="iconfont icon-moban"></i>合并同类项
                        </span>
                        <span class="chatIconButton">
                            <i class="iconfont icon-empty_fill"></i>删除
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="userCaseListTable" style="top: 88px;">
                        <div ui-grid="gridOptionsUsecase" ui-grid-autoResize ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-edit class="gridTableBox margint-20"></div>
                    </div>
                </div>
                <div class="useCaseList usecaseListPanel floatright" style="width: 40%" ng-style="useCaseListStyle">
                    <div class="useCaseListfunction">
                        <span class="floatleft selectNum">已选中2项：</span>
                        <span class="chatIconButton">
                            <i class="iconfont icon-tianjia-copy"></i>添加数据
                        </span>
                        <span class="chatIconButton">
                            <i class="iconfont icon-empty_fill"></i>删除数据
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="userCaseListTable">
                        <div ui-grid="gridOptionsUsecaseData" ui-grid-autoResize ui-grid-selection ui-grid-resize-columns ui-grid-edit class="gridTableBox margint-20"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>