<style type="text/css">

</style>
<div class="projectBodyBox" ng-controller="bugCtrl">
    <div class="projectBodyTitle projectBodyTitle1">
        缺陷列表
    </div>
    <div class="useCaseListfunc clearfix">
        <div class="dropdownDefault floatleft" dropdown>
            <div dropdown-toggle class="dropdowntoggle">
                <span class="dropdowntoggletext">排序方式</span>
                <i class="iconfont icon-unfold"></i>
            </div>
            <ul class="dropdown-menu transition" dropdown-menu role="menu">
                <span class="triangle"></span>
                <li class="current"><i class="iconfont icon-clock"></i><span>默认</span></li>
                <li><i class="iconfont icon-editor"></i><span>最新创建</span></li>
                <li><i class="iconfont icon-activity"></i><span>最近操作</span></li>
            </ul>
        </div>
        <div class="dropdownDefault floatleft" dropdown>
            <div dropdown-toggle class="dropdowntoggle">
                <span class="dropdowntoggletext">筛选</span>
                <i class="iconfont icon-unfold"></i>
            </div>
            <ul class="dropdown-menu transition" dropdown-menu role="menu">
                <span class="triangle"></span>
                <li class="dropdown-menu-child">
                    <div class="dropdown-menu-link">
                        <i class="iconfont icon-collection"></i><span>缺陷等级</span>
                        <span class="floatright"><i class="iconfont icon-play_fill"></i></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-child-menu">
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>加急</span>
                        </li>
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>高</span>
                        </li>
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>中</span>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-menu-child">
                    <div class="dropdown-menu-link">
                        <i class="iconfont icon-flip"></i><span>缺陷状态</span>
                        <span class="floatright"><i class="iconfont icon-play_fill"></i></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-child-menu">
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>加急</span>
                        </li>
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>高</span>
                        </li>
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>中</span>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-menu-child">
                    <div class="dropdown-menu-link">
                        <i class="iconfont icon-createtask"></i><span>项目模块</span>
                        <span class="floatright"><i class="iconfont icon-play_fill"></i></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-child-menu">
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>加急</span>
                        </li>
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>高</span>
                        </li>
                        <li ng-click="$event.stopPropagation()">
                            <input class="dropdowncheckbox" type="checkbox" name=""><span>中</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="dropdownBox floatleft dateBoxClear" dropdown>
            <div dropdown-toggle class="dropdowntoggle">
                <span class="dropdowntoggletext">时间范围</span>
                <i class="iconfont icon-unfold"></i>
            </div>
            <ul class="dropdown-menu dropdown-menu1 tableDropdownMenu" dropdown-menu role="menu">
                <li class="datetimePicker">
                    <a>开始时间：
                        <input type="text" class="inputText inputTextl_250" datepicker-popup="{{format}}" ng-model="dat1" is-open="popup1.opened" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                        <div class="clear"></div>
                    </a>
                </li>
                <li class="datetimePicker">
                    <a>结束时间：
                        <input type="text" class="inputText inputTextl_250" datepicker-popup="{{format1}}" ng-model="dat1" is-open="popup2.opened" alt-input-formats="altInputFormats1" ng-click="$event.stopPropagation();open2()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                        <div class="clear"></div>
                    </a>
                </li>
                <li class="marginb_10">
                    <a>
                        <input type="button" class="btn btn-sm btn-success" value="确认">
                        <input type="button" class="btn btn-sm btn-info" value="清空">、
                    </a>
                </li>
            </ul>
        </div>
        <div class="floatright btn_add" ui-sref="index.createbug">
            <span class="cicleicon"><i class="iconfont icon-add"></i></span> 新建缺陷
        </div>
    </div>
    <div class="projectBodyContent" style="top: 100px;">
        <div class="useCaseList" style="bottom:0px;overflow-y: auto;" ng-style="useCaseListStyle">
            <div class="useCaseListfilter">
                <div class="useCaseListfilterli flexRow">
                    <span class="title flex">已选条件</span>
                    <a href="" class="f_blue">清除筛选条件</a>
                </div>
                <div class="useCaseListfilterli flexRow">
                    <span class="title1">缺陷等级：</span>
                    <div class="flex">
                        <span class="filterspan"><i class="iconfont icon-huiyuan i_color1"></i>中
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                        <span class="filterspan"><i class="iconfont icon-huiyuan i_color2"></i>高
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                        <span class="filterspan"><i class="iconfont icon-huiyuan i_color3"></i>低
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                    </div>
                </div>
                <div class="useCaseListfilterli flexRow">
                    <span class="title1">缺陷状态：</span>
                    <div class="flex">
                        <span class="filterspan"><i class="iconfont icon-huiyuan i_color4"></i>新建
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                        <span class="filterspan"><i class="iconfont icon-huiyuan i_color5"></i>驳回
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                        <span class="filterspan"><i class="iconfont icon-huiyuan i_color0"></i>待审
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                    </div>
                </div>
                <div class="useCaseListfilterli flexRow">
                    <span class="title1">项目模块：</span>
                    <div class="flex">
                        <span class="filterspan">
                            <i class="iconfont icon-huiyuan i_color1"></i>
                            登录模块登录模块登录模块登录模块登录模块登录模块登录模块登录模块
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                        </span>
                        <span class="filterspan">
                            <i class="iconfont icon-huiyuan i_color1"></i>
                            注册模块
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                        <span class="filterspan">
                            <i class="iconfont icon-huiyuan i_color1"></i>
                            模块
                            <i class="iconfont icon-delete_fill"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="useCaseListfunction">
                <span class="floatleft selectNum">已选中2项：</span>
                <span class="chatIconButton">
                    <i class="iconfont icon-guanlian"></i>关联用例
                </span>
                <span class="chatIconButton">
                    <i class="iconfont icon-import"></i>导入
                </span>
                <span class="chatIconButton">
                    <i class="iconfont icon-daochu2"></i>导出
                </span>
                <span class="chatIconButton">
                    <i class="iconfont icon-brush_fill"></i>修改处理人
                </span>
                <div class="clear"></div>
            </div>
            <div class="userCaseListTable">
                <div ui-grid="gridOptionsBug" ui-grid-autoResize ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-edit class="gridTableBox margint-20"></div>
            </div>
        </div>
    </div>
</div>