<style type="text/css">
</style>
<div class="projectNav" style="overflow: hidden;">
    <div class="projectNavList">
        <div class="title">
            过滤器
            <span class="chatIconButton floatright treefunicon" data-tip="新建过滤器">
                <i class="iconfont icon-add"></i>
            </span>
        </div>
        <ul class="projectNavListContent">
            <li class="{{projectNavNow==1?'active':''}}" ng-click="projectNavNow=1">
                <i class="iconfont icon-shaixuan i_color6 filterIcon"></i>
                <span class="filtername">全部任务</span>
            </li>
            <li class="{{projectNavNow==2?'active':''}}" ng-click="projectNavNow=2">
                <i class="iconfont icon-shaixuan i_color7 filterIcon"></i>
                <span class="filtername">我创建的任务</span>
            </li>
        </ul>
    </div>
    <div class="leftNavList projectNavList " style="top: 120px;">
        <div class="title">
            自定义过滤器
            <span class="chatIconButton floatright treefunicon" data-tip="过滤器管理">
                <i class="iconfont icon-guanli"></i>
            </span>
            <span class="chatIconButton floatright treefunicon" data-tip="存储为新的过滤器">
                <i class="iconfont icon-add"></i>
            </span>
        </div>
        <div class="customFilterTitle">
            <select>
                <option>未选择过滤器</option>
                <option>自定义过滤器</option>
                <option>自定义过滤器1</option>
                <option>自定义过滤器1自定义过滤器</option>
            </select>
        </div>
        <div class="customFilterContent customFilterContent1">
            <ul class="" accordion close-others="false">
                <li accordion-group>
                    <div accordion-heading>
                        <span data-tip="全选"><i class="iconfont icon-quanxuan selectAll"></i></span>
                        <span>创建人</span>
                        <i class="iconfont  floatright openFilter icon-unfold"></i>
                    </div>
                    <ol class="customFilterSelect">
                        <li class="checkBox">
                            <input type="checkbox" name="">
                            <i class="input-helper"></i>
                            <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                        </li>
                        <li class="checkBox">
                            <input type="checkbox" name="">
                            <i class="input-helper"></i>
                            <span title="" class="defaultcheckText">低</span>
                        </li>
                        <li class="checkBox">
                            <input type="checkbox" name="">
                            <i class="input-helper"></i>
                            <span title="" class="defaultcheckText">高</span>
                        </li>
                        <div class="clear"></div>
                    </ol>
                </li>
                <li accordion-group>
                    <div accordion-heading>
                        <span data-tip="全选"><i class="iconfont icon-quanxuan selectAll"></i></span>
                        <span>创建时间</span>
                        <i class="iconfont  floatright openFilter icon-unfold"></i>
                    </div>
                    <ol class="customFilterTime">
                        <li class="defaultTimeSelectBox datetimePicker">
                            <input type="text" class="timeselectInput floatleft"  datepicker-popup="{{format}}" ng-model="dat1" is-open="popup1.opened" datepicker-options="inlineOptions" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                            <span class="timeselectTitle">开始时间：</span>
                            <div class="clear"></div>
                        </li>
                    </ol>
                </li>
                <li accordion-group>
                    <div accordion-heading>
                        <span data-tip="全选"><i class="iconfont icon-quanxuan selectAll"></i></span>
                        <span>最近执行时间</span>
                        <i class="iconfont  floatright openFilter icon-unfold"></i>
                    </div>
                    <ol class="customFilterTime">
                        <li class="defaultTimeSelectBox datetimePicker">
                            <input type="text" class="timeselectInput floatleft"  datepicker-popup="{{format}}" ng-model="dat1" is-open="popup1.opened" datepicker-options="inlineOptions" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                            <span class="timeselectTitle">开始时间：</span>
                            <div class="clear"></div>
                        </li>
                    </ol>
                </li>
            </ul>
            <div class="customFilterBtn">
                <a class="customFilterSave" href="">保存当前筛选项</a>
            </div>
        </div>
    </div>
</div>   