<style type="text/css">
</style>
<div class="projectNav" style="overflow: hidden;" ng-init="navTabPanel=1">
    <div class="navTabPanel">
        <ul>
            <li ng-click="navTabPanel=1">
                <span data-tip="树结构视图">
                <i class="iconfont icon-pinzhongjiegou" ng-class="{'f_blue':navTabPanel==1}"></i>
                </span>
            </li>
            <li ng-click="navTabPanel=2">
                <span data-tip="过滤器结构视图">
                <i class="iconfont icon-liebiao" ng-class="{'f_blue':navTabPanel==2}"></i>
                </span>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="navPanel">
        <div class="projectNavList" ng-show="navTabPanel==2">
            <div class="title">
                过滤器
                
            </div>
            <ul class="projectNavListContent">
                <li class="{{projectNavNow==1?'active':''}}" ng-click="projectNavNow=1">
                    <i class="iconfont icon-shaixuan i_color6 filterIcon"></i>
                    <span class="filtername">全部用例</span>
                </li>
                <li class="{{projectNavNow==2?'active':''}}" ng-click="projectNavNow=2">
                    <i class="iconfont icon-shaixuan i_color7 filterIcon"></i>
                    <span class="filtername">我创建的用例</span>
                </li>
            </ul>
        </div>
        <div class="leftNavList projectNavList" ng-show="navTabPanel==2" style="top: 120px;">
            <div class="title">
                自定义过滤器
                <span ng-click="open('filterManage')" class="chatIconButton floatright treefunicon" data-tip="过滤器管理">
                    <i class="iconfont icon-guanli"></i>
                </span>
                <span class="chatIconButton floatright treefunicon" data-tip="新建过滤器">
                    <i class="iconfont icon-add"></i>
                </span>
            </div>
            <div class="customFilterTitle">
                <select>
                    <option>未选择过滤器</option>
                    <option>自定义过滤器</option>
                    <option>自定义过滤器1</option>
                    <option>自定义过滤器1自定义过滤器</option>
                </select>
            </div>
            <div class="customFilterContent customFilterContent1">
                <ul class="" accordion close-others="false">
                    <li accordion-group>
                        <div accordion-heading>
                            <span data-tip="全选"><i class="iconfont icon-quanxuan selectAll"></i></span>
                            <span>缺陷等级</span>
                            <i class="iconfont  floatright openFilter icon-unfold"></i>
                        </div>
                        <ol class="customFilterSelect">
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="中及缺陷身上的呵呵大家的交付解放军解放" class="defaultcheckText">中及缺陷身上的呵呵大家的交付解放军解放</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">低</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">高</span>
                            </li>
                            <div class="clear"></div>
                        </ol>
                    </li>
                    <li accordion-group>
                        <div accordion-heading>
                            <span data-tip="全选"><i class="iconfont icon-quanxuan selectAll"></i></span>
                            <span>缺陷状态</span>
                            <i class="iconfont  floatright openFilter icon-unfold"></i>
                        </div>
                        <ol class="customFilterSelect">
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">新建</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">驳回</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">待审</span>
                            </li>
                        </ol>
                    </li>
                    <li accordion-group>
                        <div accordion-heading>
                            <span data-tip="全选"><i class="iconfont icon-quanxuan selectAll"></i></span>
                            <span>项目模块</span>
                            <i class="iconfont  floatright openFilter icon-unfold"></i>
                        </div>
                        <ol class="customFilterSelect">
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">新建</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">驳回</span>
                            </li>
                            <li class="checkBox">
                                <input type="checkbox" name="">
                                <i class="input-helper"></i>
                                <span title="" class="defaultcheckText">待审</span>
                            </li>
                        </ol>
                    </li>
                    <li accordion-group>
                        <div accordion-heading>
                            <span data-tip="全选"><i class="iconfont icon-quanxuan selectAll"></i></span>
                            <span>创建时间</span>
                            <i class="iconfont  floatright openFilter icon-unfold"></i>
                        </div>
                        <ol class="customFilterTime">
                            <li class="defaultTimeSelectBox datetimePicker">
                                <input type="text" class="timeselectInput floatleft"  datepicker-popup="{{format}}" ng-model="dat1" is-open="popup1.opened" datepicker-options="inlineOptions" alt-input-formats="altInputFormats" ng-click="$event.stopPropagation();open1()" close-text="关闭" min-date="dat" clear-text="清空" current-text="今天" />
                                <span class="timeselectTitle">开始时间：</span>
                                <div class="clear"></div>
                            </li>
                        </ol>
                    </li>
                </ul>
                <div class="customFilterBtn">
                    <a class="customFilterSave" href="">保存当前筛选项</a>
                </div>
            </div>
        </div>
        <div class="leftNavList useCaseTree" ng-show="navTabPanel==1">
            <div class="title">
                用例树
                <span class="chatIconButton floatright treefunicon" data-tip="同步生成用例目录">
                    <i class="iconfont icon-tongbusynchronize4"></i>
                </span>
                <span class="chatIconButton floatright treefunicon" data-tip="删除节点">
                    <i class="iconfont icon-empty"></i>
                </span>
                <span class="chatIconButton floatright treefunicon" data-tip="编辑节点">
                    <i class="iconfont icon-editor"></i>
                </span>
                <div class="dropdownDefault floatright treefunicon" dropdown>
                    <span class="chatIconButton floatright" data-tip="编辑节点" dropdown-toggle>
                        <i class="iconfont icon-add"></i>
                    </span>
                    <ul class="dropdown-menu transition" dropdown-menu role="menu">
                        <span class="triangle"></span>
                        <li><i class="iconfont icon-addpeople_fill"></i><span>新增子节点</span></li>
                        <li><i class="iconfont icon-addpeople_fill"></i><span>新增同级节点</span></li>
                    </ul>
                </div>
                <div class="dropdownDefault floatright treefunicon" dropdown>
                    <span class="chatIconButton floatright" data-tip="移动节点" dropdown-toggle>
                        <i class="iconfont icon-send"></i>
                    </span>
                    <ul class="dropdown-menu transition" dropdown-menu role="menu">
                        <span class="triangle"></span>
                        <li><i class="iconfont icon-addpeople_fill"></i><span>上移</span></li>
                        <li><i class="iconfont icon-addpeople_fill"></i><span>下移</span></li>
                        <li><i class="iconfont icon-addpeople_fill"></i><span>左移</span></li>
                        <li><i class="iconfont icon-addpeople_fill"></i><span>右移</span></li>
                    </ul>
                </div>
            </div>
            <div class="treeBody">
                <div>
                    <script type="text/ng-template" id="nodes_renderer.html">
                        <span ui-tree-handle></span>
                        <div class="tree-node tree-node-content" ng-class="{current:node.id==1.1}">
                            <a class="treeToggle" ng-if="node.nodes && node.nodes.length > 0||node.cases && node.cases.length > 0" data-nodrag ng-click="toggle(this)"><i class="iconfont" ng-class="collapsed?'icon-unfold-copy':'icon-unfold'"></i></a>
                            <i class="iconfont icon-wenjianjia1"></i>
                            <span ng-show="!this.isEdit" class="treeText">
                            {{node.title | limitTo:10}}{{node.title.length>10?'...':''}}
                            </span>
                        </div>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                            </li>
                        </ol>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                            <li ng-repeat="case in node.cases" class="tree-node-content">
                                <i class="iconfont icon-icon-yongliweiyunhang icon-case"></i>
                                <span ng-show="!this.isEdit" class="treeText">
                                {{case.title | limitTo:10}}{{case.title.length>10?'...':''}}
                                </span>
                            </li>
                        </ol>
                    </script>
                    <div>
                        <div ui-tree="treeOptions" id="tree-root" drag-delay="200">
                            <ol ui-tree-nodes ng-model="data">
                                <li ng-repeat="node in treedata1" ui-tree-node ng-include="'nodes_renderer.html'">
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>